﻿@charset "utf-8";
body{ }
.index_body{ background-color: #383d50;}
.icon_t{ display:block; width:10px; height:10px; background:url(../../images/lele/common/icon_t.png) no-repeat; position:absolute;}
#header{ background-color:#141d2b;   width:100%; position:relative; z-index:101; clear:both; max-height:135px;    border-bottom: 1px solid #374046;}
#header .snav{height:40px; line-height:39px;line-height:38px\0; clear:both; color:#fff;    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
#header .snav .w1200{overflow:visible; clear:both; height:40px; }
#header .snav a{color:#fff;}
#header .snav a:hover{color:#111;}
#header .snav .snav_all{position:relative; cursor:pointer; width:80px ; float:left;}
#header .snav .snav_all .snav_all_btn .fa{padding-left:5px; font-size:12px;}
#header .snav .snav_all .snav_all_menu{background:#fff; padding:10px;box-shadow: 0 0 16px rgba(0,0,0,0.1); color:#333; line-height:30px; width:330px; border-radius:5px; position:absolute; top:40px; left:0px; display:none; cursor:default;}
#header .snav .snav_all .snav_all_menu .icon_t{ top:-6px; left:20px; position:absolute;}
#header .snav .snav_all .snav_all_menu a{color:#333;}
#header .snav .snav_all .snav_all_menu table tr th{ width:30%; border-bottom:1px dashed #ccc; font-weight:normal; font-size:14px; color:#ff9600; padding:5px 0;}
#header .snav .snav_all .snav_all_menu table tr td{ width:70%; border-bottom:1px dashed #ccc; padding:5px 0;}
#header .snav .snav_all .snav_all_menu table tr td a{padding:5px 10px;border-radius:3px; margin-bottom:5px; display:inline-block; height:20px; line-height:20px; float:left; background:#fff; border:1px solid #ececec; min-width:80px; width:auto; margin-right:10px;}
#header .snav .snav_all .snav_all_menu table tr td a span{float:right; font-size:11px;}
#header .snav .snav_all .snav_all_menu table tr td a:hover{background: #fef2c0;
    border: 1px solid #ff9600;color: #e75200;}
#header .snav .snav_sub{float:left;}
#header .snav .snav_sub a{margin-right:5px;}
#header .snav .snav_index{width:100px; display:block; }
#header .snav .snav_link{width:800px; float:right; height:40px; }
#header .snav .snav_link .ul_link li{ float:right; padding-left:16px;}
#header .snav .snav_link .ul_link li#myaccount{position:relative; cursor:pointer;}
#header .snav .snav_link .ul_link li#myaccount .fa{padding-left:5px; font-size:12px;}
#header .snav .snav_link .ul_link li#myaccount .myaccount_list{position:absolute; top:40px; left:-5px; background:#fff; color:#333; border-radius: 5px;padding:5px; display:none;    box-shadow: 0 0 16px rgba(0,0,0,0.1);}
#header .snav .snav_link .ul_link li#myaccount .myaccount_list .icon_t{  top:-7px; left:45px; position:absolute;}
#header .snav .snav_link .ul_link li#myaccount .myaccount_list a{color:#333; display:block; padding:0 5px;  width:88px; /*text-align:center;*/ line-height:24px;}
#header .snav .snav_link .ul_link li#myaccount .myaccount_list a:hover{color:#ff9600; text-decoration:none;}
#header .snav .snav_link .ul_link li#myaccount .myaccount_list a i{margin-right:6px; color:#ff9600; font-size:14px;}
#header .snav .snav_link .ul_link li img{vertical-align:middle;cursor:pointer;background-color: #fff;}
/*#header .nav{width:100%; clear:both; padding:15px 0; background:url(../images/top_bg.jpg)  center top repeat-x;}*/

#header .nav{width:100%; clear:both;height:62px /*padding:13px 0 0px 0px;*/ }
#header .nav .logo{float:left; padding-right:10px; width:150px;}
#header .nav .nav_item{ float:left; width:840px; overflow:hidden;padding: 0 0 0 0;} 
#header .nav .nav_item ul{width:100%; overflow:hidden;}
#header .nav .nav_item ul li{float:left;    padding:0; }
#header .nav .nav_item ul li:first-child{border-left:0px;}
#header .nav .nav_item ul li:last-child{border-right:0px;}
#header .nav .nav_item ul li a{ background-image:url('../../images/lele/menu_items.png'); color:#fff;   text-align:center;line-height: 60px;     display:block; }
#header .nav .nav_item ul li a:hover,#header .nav .nav_item ul li a.curr{ background-image:url('../../images/lele/menu_items_hover.png');  }
#header .nav .nav_item ul li a i{ font-size:12px; display: block;}
#header .nav .nav_item ul li a img{float:right;padding-top: 18px;padding-right: 5px}

#header .bet_nav{width:100%; clear:both; margin:0px;background:rgba(0,0,0,0.4); /*background-image:url('../images/betmenu_bg.png'); background-repeat:repeat-x; background-position:0px -28px;*/}
#header .bet_nav .logo{float:left; width:110px;margin-right: 40px;}
#header .bet_nav .nav_item{ width:1000px; overflow:hidden;} 
#header .bet_nav .nav_item ul{width:100%; overflow:hidden;}
#header .bet_nav .nav_item ul li{float:left; height:20px;padding:5px 0px 5px 0px; width:108px;border-right: 1px solid #383733;border-left: 1px solid #989491;}
#header .bet_nav .nav_item ul li i{display:block;float:left;width:20px; height:20px; margin-left:10px; background-image:url('../../images/lele/betmenu_icon_w.png'); background-repeat:no-repeat; background-position:-5px -5px;}
#header .bet_nav .nav_item ul li a{display:block; float:left; width:74px; height:18px; padding-left:4px; color:#fff; font-size:14px; text-align:left; /*margin-top: 2px;border-right:1px solid #015642;font-weight:600;*/}
#header .bet_nav .nav_item ul li:hover{background:rgba(0,0,0,0.4); /*text-shadow:1px 1px 0px #fff;*/}




/*#topmenu  a:hover{color:#111;}*/
.nav .all_game_menu{position:relative; cursor:pointer; width:80px ; float:left;}
.nav .all_game_menu .all_game_menu .fa{padding-left:5px; font-size:11px;}
/*.nav .all_game a:hover{color: #111;}*/
.nav .all_game_menu{background:#fff; padding:10px;box-shadow: 0 0 16px rgba(0,0,0,0.1); color:#333; line-height:30px; width:330px; border-radius:5px; position:absolute; top:60px; left:-80px; display:none; cursor:default;}
.nav .all_game_menu .icon_t{ top:-6px; left:100px; position:absolute;}
.nav .all_game_menu a{color:#333;font-size: 11px;}
.nav .all_game_menu table tr th{ width:30%; border-bottom:1px dashed #ccc; font-weight:normal; font-size:11px; color:#ff9600; padding:5px 0;}
.nav .all_game_menu table tr td{ width:70%; border-bottom:1px dashed #ccc; padding:5px 0;}
.nav .all_game_menu table tr td a{padding:5px 10px;border-radius:3px; margin-bottom:5px; display:inline-block; height:20px; line-height:20px; float:left; background:#fff; border:1px solid #ececec; min-width:80px; width:auto; margin-right:10px;}
.nav .all_game_menu table tr td a span{float:right; font-size:11px;}
.nav .all_game_menu table tr td a:hover{background: #fef2c0;border: 1px solid #ff9600;color: #e75200;}




/* 导航分类 */
.top{width:100%;height:75px;background:#141d2b;    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);}
.toper{width:1200px;height:100%;margin:0 auto;}
.logo{float:left;height:54px;margin:10px 0;}
.logo img{width:auto;height:100%;}
.nav{float:left;height:100%;width:auto;margin-left:40px;}
.nav li{width:100px;height:75px;float:left;position:relative;}
.nav li a{width:100%;height:100%;line-height:75px;float:left;text-align:center;font-size:14px;color:#fff;}
.nav li a:hover{color:#fb3c10;-webkit-transform:translateY(5px); -moz-transform:translateY(5px); transform:translateY(5px);}

.nav li:after{content:"";width:0%;height:3px;position:absolute;bottom:-2px;left:40px;border-radius:2px;z-index:999;-webkit-transition:all 0.5s;}
.nav .fa{ margin-left: 3px; font-size: 12px; color: #b6c1c9; }

.nav li:hover:after{width:100%;left:0;}
.nav li:hover .nav-80{height:80px!important;}
.nav li:hover .nav-120{height:120px!important;}
.nav li:hover .nav-160{height:160px!important;}
.nav li:hover{}
.nav li:hover :after{left:79px;}
.nav li:hover :before{left:72px;}
.nav-li{background:#f1f1f1;}
.nav-li a{color:#ff9600;}
.nav-li:after{width:100%!important;left:0!important;}
.nav dl{width:100%;background:#fff;position:absolute;height:0;top:75px;left:0;overflow:hidden;box-shadow:0 0 2px #ccc;z-index:999;}
.nav dd{width:100%;height:40px;float:left;position:relative;}
.nav dd a{width:100%;height:40px;line-height:40px;position:absolute;top:0;left:0;}
.nav dd i{width:0;height:40px;position:absolute;left:0;top:0;background:#ff9600;}
.nav dd:hover a{color:#fff;}
.nav dd:hover i{width:100%;}
.text-left{text-indent:-15px;}

.top-head{width:40px;height:40px;padding:15px;float:right;position:relative;}
.top-head img{width:100%;height:auto;border-radius:50%;}
.top-head a{float:left;width:100%;height:100%;color: #000;}
.top-head ul{width:110px;height:0px;position:absolute;top:75px;right:0;background:#fff;    box-shadow: 0 0 16px rgba(0,0,0,0.1);    border-radius:0 0 5px 5px;line-height:40px;overflow:hidden;-webkit-transition:all 0.5s;z-index:999;}
.top-head:hover ul{height:160px;}
.top-head li{float:left;width:100%;height:40px;background-repeat:no-repeat;background-position:15px center;    padding: 0 5px;-webkit-transition:all 0.5s;}
.top-head li:hover{background-color:#f1f1f1;}
.top-head li:hover a{color:#ff9600;}
.top-head li a i { padding-left:15px;
    margin-right: 6px;
    color: #ffaf3c;
    font-size: 14px;
}

/* 首页轮播 */
#slideImg{position:relative; width:100%; height:390px;   background:#f1f1f1; margin:0 auto;}
#slideImg #focus {width:1920px; height:390px; overflow:hidden;  top:0px;   }
#slideImg #focus ul {height:390px; position:absolute;}
#slideImg #focus ul li {float:left; width:1920px; height:390px; overflow:hidden; position:relative; }
#slideImg #focus ul li div {position:absolute; overflow:hidden;}
#slideImg #focus .btnBg {position:absolute; width:1920px; height:40px; left:0; bottom:0; display:none;}
#slideImg #focus .btn {position:absolute; width:100%; height:24px; left:0; bottom:8px; padding-left:10px; text-align:center;}
#slideImg #focus .btn span {display:inline-block; _display:inline; _zoom:1; width:19px; height:19px; line-height:15px; text-align:center; margin-right:10px; cursor:pointer; background:url(../images/home/slide_btn.png) -19px 0px no-repeat;}
#slideImg #focus .btn span.on {background:url(../../images/lele/slide_btn.png) 0px 0px no-repeat;}

#fixedMenu{position:fixed; left:50%; margin-left:500px; top:50%;  border:1px solid #009700; z-index:101; }
#fixedMenu ul li a{display:block; padding:5px; width:60px; background:url(.../../images/lele/green_bg.jpg) center top no-repeat;  color:#fff; text-align:center; border-bottom:1px solid #009700;}
#fixedMenu ul li a .iconfont{font-size:30px; padding-bottom:10px; font-weight:normal; }
#fixedMenu ul li a:hover{background:#ff9600;}


/* 首页内容 */
#container{width:100%; clear:both;}
.indexBox{width:100%; overflow:hidden; padding-top:10px;}
.indexBox .index_left{width:900px; overflow:hidden; float:left;}
.indexBox .index_right{width:286px; overflow:hidden; float:right;}
.ibox_ssc{width:100%; overflow:hidden;}
.ibox_ssc ul{width:780px; overflow:hidden;}
.ibox_ssc li{float:left; background:#0795c4; margin-right:2px;}
.ibox_ssc li a{display:block;}
.ibox_ssc li.li_1 a{background:url(../../images/lele/index_img1.jpg) center top no-repeat;width:207px; height:240px; font-size:30px; color:#fff; text-shadow:3px 3px 0px #003e53; text-align:center;}
.ibox_ssc li.li_1 a:hover{opacity:0.8; filter:alpha(opacity=80);}
.ibox_ssc li.li_1 a span{padding-top:180px; display:block;}
.ibox_ssc li.li_2{margin-right:2px; margin-bottom:2px;}
.ibox_ssc li.li_2 a{width:229px; height:88px; background:#0795c4; padding:15px 25px; overflow:hidden; }
.ibox_ssc li.li_2 a i{width:87px; height:84px; background:url(../../images/lele/ssc_icon.png) 0px 0px no-repeat; display:block; float:left;}
.ibox_ssc li.li_2 a span{display:block; height:84px; line-height:84px; float:left; font-size:20px; color:#fff; text-shadow:2px 2px 0px #003e53; padding-left:5px; overflow:hidden;}
.ibox_ssc li.li_2 a:hover{background:#00a5db;}
.ibox_ssc li.li_2 a:hover span{text-shadow:0px 0px 2px #fff;}
.ibox_11x5{padding-top:10px; width:100%; overflow:hidden;}
.ibox_11x5 ul{width:780px; overflow:hidden; display:block;}
.ibox_11x5 ul li{float:left; width:193px; height:203px;}
.ibox_11x5 ul li a{display:block; width:193px; height:203px; background:url(../../images/lele/11x5.jpg) center top no-repeat; text-align:center;}
.ibox_11x5 ul li a:hover{opacity:0.9;filter:alpha(opacity=90);}
.ibox_11x5 ul li a img{display:block; margin:0 auto; padding-top:20px;}
.ibox_11x5 ul li a .num_yl{display:block; padding-top:60px; width:100%; overflow:hidden; margin-bottom:10px;}
.ibox_11x5 ul li a .num_yl .num{display:block; float:left; text-align:center; width:20%; overflow:hidden; color:#fff;}
.ibox_11x5 ul li a .num_yl .num .num1{width:25px; height:25px; display:block; margin:0 auto; border:2px solid #fff; border-radius:50%; line-height:25px; font-weight:bold; color:#fff;}
.ibox_11x5 ul li a .num_yl .num .num2{padding-top:2px;}
.ibox_11x5 ul li a .num_text{color:#fff; background:#e88466; font-size:12px; padding:3px 15px; border-radius:5px;  display:block; margin:0 auto; width:100px;}
.ibox_gp{width:100%; overflow:hidden; padding-top:10px;}
.ibox_gp ul{width:910px; overflow:hidden;}
.ibox_gp ul li{ float:left; width:296px; overflow:hidden; margin-right:7px;}


.ibox_gp ul li a{display:block; width:296px; height:305px; background:#ffb423; text-align:center;border-radius: 5px;background:url(../../images/lele/home/index_icon_game_03.png) center #ff6337  no-repeat;}


.ibox_gp ul li a.ssc_box{
background:url(../../images/lele/home/index_icon_game_03.png) center #ff3064  no-repeat; }

.ibox_gp ul li a.pl5_box{
	background:url(../../images/lele/home/index_icon_game_05.png) center #1d6af1 no-repeat;

}
.ibox_gp ul li a.fc_box{
	background:url(../../images/lele/home/index_icon_game_07.png) center #ff6137 no-repeat;

}
.ibox_gp  ul li a .tit{font-size:36px; color:#fff; text-align:center; display:block; padding-top:45px; padding-bottom:20px;}
.ibox_gp ul li a .list{background:url(../../images/lele/home/bg_3d.png); height:50px; width:100%; display:block; text-align:center; padding:10px 0; overflow:hidden;}
.ibox_gp ul li a .list .list_cont{height:50px; width:100%;  overflow:hidden;}
.ibox_gp ul li a .list .list_cont i{color:#fff; display:block; font-size:12px; color:#ddd; height:18px;}
.ibox_gp ul li a .list .list_cont i.curr{font-size:14px; color:#fff; font-weight:bold; text-shadow:0px 0px 2px #fff;	}
.ibox_gp ul li a .btn{padding:0 32px;    height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    line-height: 40px;
    text-align: center;  margin:0 auto; display:inline-block;  margin-top:35px;      font-size: 14px;




 }
	.ibox_gp ul li a .btn:hover{}

.ibox_dp{padding-top:10px; width:100%; overflow:hidden; margin-bottom:10px;}
.ibox_dp ul{width:780px;}
.ibox_dp ul li{float:left; margin-right:2px; margin-bottom:2px;}
.ibox_dp ul li a{display:block; width:206px; height:90px; padding:15px 25px; background:#ffae00; overflow:hidden;}
.ibox_dp ul li a .icon{ float:left;width:87px; height:84px; display:block; background:url(./images/ssc_icon.png) no-repeat;}
.ibox_dp ul li a .tit{font-size:22px; color:#fff; text-shadow:2px 2px 0px #333; line-height:84px; padding-left:5px;}
.ibox_dp ul li a .icon.icon_dp1{background-position:-88px 0px;}
.ibox_dp ul li a .icon.icon_dp2{background-position:-175px 0px;}
.ibox_dp ul li a .icon.icon_dp3{background-position:-262px 0px;}
.ibox_dp ul li a .icon.icon_dp4{background-position:-348px 0px;}
.ibox_dp ul li a .icon.icon_dp5{background-position:-435px 0px;}
.ibox_dp ul li a .icon.icon_dp6{background-position:-523px 0px;}
.ibox_dp ul li a:hover{background:#ffc343;}
.index_user{background:url(../../images/lele/index_user_bg.png) repeat-x; width:100%; height:238px;}
.index_user .u_info{padding:4px 16px; width:180px; overflow:hidden;}
.index_user .u_info img{float:left;}
.index_user .u_info p{float:left; font-size:14px; padding-left:10px; width:100px; line-height:24px; color:#fff; padding-top:10px;}
.index_user .u_info p span{color:#fdeab6; display:block;}
.index_user .u_pay table tr th{text-align:center; padding:10px; border-right:1px solid #237123; border-bottom:1px solid #237123;}
.index_user .u_pay table tr th img{display:block; padding-bottom:0px; margin:0 auto;}
.index_user .u_pay table tr th a{color:#fee9b4; font-size:16px; font-weight:normal;} 
.index_user .u_pay table tr td{padding:5px 5px; text-align:center; line-height:24px; border-right:1px solid #237123; border-bottom:1px solid #237123;}
.index_user .u_pay table tr td a{color:#fff;}
.index_user .u_pay table tr td a:hover{text-decoration:underline; color:#fdeab6;}
.box_ann .ty_cont{height:225px; overflow:hidden;}
.box_ann .ty_tit h3 .iconfont{color:#005000; font-size:24px; padding-right:5px;}
.box_ann .ty_cont ul li{padding-top:5px;}
.box_ann .ty_cont ul li a {line-height:20px;}
.box_ann .ty_cont ul li a .tit{display:block; color:#666;}
.box_ann .ty_cont ul li a .time{display:block; color:#ccc}
.gn_list .ty_cont i{float:left;color:orange;margin-left:3px;}
.gn_list .ty_cont .hm_notice {overflow:hidden;height:30px;margin:5px 0px;background-color:#F2F4F7;line-height:30px;} 
.ty_box.box_ann .ty_tit h3{color: #666;}
.ty_box.box_ann .ty_tit h3 a{color: #999;}
.ty_box.box_ann .ty_tit .iconfont{color:#fff;}


/* line */
.line{width:1200px;height:90px;margin:auto;}
.line-bt{width:100%;height:40px;float:left;position:relative; margin-top:10px;}
.line-bt i{width:100%;height:1px;background:#e0e0e0;position:absolute;top:21px;left:0;}
.line-bt span{position:absolute;background:#f7f7f7;top:0;left:550px;line-height:40px;height:40px;font-size:18px;font-weight:500;color:#666;padding:0 15px;}
.line-box{width:100%;float:left;height:50px;margin:20px 0;}
.line-box li{width:160px;height:50px;float:left;overflow:hidden;margin:0 20px;position:relative;}
.line-box li a:after{content:"";width:100%;height:0px;position:absolute;left:0;top:25px;-webkit-transition:all 0.5s;background-position:center center;}
.line-box li:hover a:after{height:50px;top:0;}
.line-box li:nth-child(1) a:after{background-image:url(../../images/lele/line-1.png)}
.line-box li:nth-child(2) a:after{background-image:url(../../images/lele/line-2.png)}
.line-box li:nth-child(3) a:after{background-image:url(../../images/lele/line-3.png)}
.line-box li:nth-child(4) a:after{background-image:url(../../images/lele/line-4.png)}
.line-box li:nth-child(5) a:after{background-image:url(../../images/lele/line-5.png)}
.line-box li:nth-child(6) a:after{background-image:url(../../images/lele/line-6.png)}
.line-txt{width:100%;float:left;height:40px;line-height:40px;font-size:16px;margin-bottom:10px;}
.line-txt a{float:left;margin-right:20px;}
.line-txt a:hover{color:#09F;}
/* line-end */
/* footer */

#footer{width:100%;background-color:#F1F1F1;padding:20px 0;}
.footer-ner{width:1200px;height:70px;margin:auto;}

.footer-box{width:1200px;float:left;height:60px; margin-top:10px; text-align:center;}
.footer-nav{width:1000px;height:30px;line-height:30px;font-size:14px; margin:0 auto; text-align:center;}
.footer-nav a{margin-right:30px;color: #777d8c;}
.footer-nav a:hover{ color: #333;}


.footer-copy{line-height:20px;float:left;width:100%;    color: #aaa;}
.footer-copy a{color:#aaa;}
/* footer */









