/* css reset www.admin10000.com */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: "微软雅黑";width:100%;overflow-x: hidden; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none;max-width: 100%; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {width:100%;height:100%;overflow: hidden;}
body{width:100%;height:100%;overflow: hidden;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*  login  */
.loginImg{
	width:100%;
	height:100%;
}
.login{
	position:relative;
	width:100%;
	height:100%;
}
.login_desigre{
	position:absolute;
	right:18%;
	top:18%;
	z-index:9999;
}
.login_desiguserTop{
	color:#FFFFFF;
}
.login_desiguser{
	width:350px;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #000;
}
.login_desigTit{
	text-align: center;
	margin-bottom:25px;
}
.login_desiguserTop{
	background:rgba(0,0,0,0.6);
	width:100%;
	height:40px;
	line-height:40px;
	text-align: center;
	font-size:16px;
	font-weight:bold;

}
.login_form{
	background:rgba(0,0,0,0.4);
}
.login_desiguserBottom_peo>input{
	background: none;
	border: 0px;
	color: #a5a7a8;
	outline: none;
	font-size: 14px;
	vertical-align: middle;
	font-weight: bold;
}
.login_desiguserBottom_peoInp>label{
	background:none;
	border:0px;
	color: #a5a7a8;
	outline:none;
	font-size: 14px;
	vertical-align: middle;
	font-weight: bold;
}
.login_desiguserBottom_peoInp>input{
	background:none;
	border:0px;
	color:#a5a7a8;
	outline:none;
	vertical-align: middle;
	width:70%;
	font-weight: bold;
}

.login_desiguserBottom_peoInp{
	width:49%;
	float:left;
	background: rgba(0,0,0,0.6);
}

.login_desiguserBottom_peoInpImg>img{
	vertical-align: middle;
	margin:0 10px;
}
.login_desiguserDe{
	width:80%;
	padding:10px 0px;
	margin:0 auto;
}
.login_desiguserBottom_peo{
	background:rgba(0,0,0,0.6);
	margin-bottom:10px;
	height: 40px;
	line-height: 40px;
}
.login_desiguserBottom_peoInpImg{
	display:inline-block;
	width:40px;
	text-align: center;
}
.login_desiguserBottomBtn{
	background:none;
	border:0px;
	display:block;
	margin:10px auto;
}
.login_desigTit>img{
	width:65%;
}
.login_desiguserDeP{
	display:inline-block;
	width:100%;
}
.login_desiguserBottomBtn>img{
	vertical-align: top;
}
.login_desiguserDeP>p{
	width:33.333%;
	color:#e2e3e4;
	text-align: center;
	float:left;
	font-size:14px;
}
@media screen and (min-width:1000px) and (max-width:1200px){
	.login_desigre{
		position:absolute;
		right:10%;
		top:10%;
	}
}
@media screen and (min-width:320px) and (max-width:1000px){
	.login_desiguser{
		width:300px;
		overflow:hidden;
		border-radius:5px;
		border:1px solid #000;
	}
	.login_desigre{
		right:10%;
		top:10%;
	}
	.login_desiguserBottom_peo>input{
		width:80%;
		font-size:12px;
	}
	.login_desiguserBottom_peoInp>input{
		width:50%;
		font-size:12px;
	}
	.login_desiguserBottom_peo{
		height:30px;
		line-height:30px;
		margin-bottom:5px;
	}
	.login_desigTit{
		margin-bottom:10px;
	}
	.login_desigTit>img {
		width: 45%;
	}
	.login_desiguserTop{
		height:30px;
		line-height: 30px;
	}
	.login_desiguserTop{
		font-size:14px;
	}
	.login_desiguserBottomBtn>img{
		width:80%;
	}
	.login_desiguserDeP>p{
		font-size:12px;
	}
	.login_desiguserBottom_peoInp>img{
		width:50%;
	}
	.login_desiguserBottom_peoInpImg>img{
		width:30%;
	}
	.login_desiguserDe{
		padding:5px 0;
	}
}
@media screen and (max-width:720px){

}
.login_desiguserDeP>p>a{
	width:33.333%;
	color:#e2e3e4;
}
.loginBut{
	width: 155px;height: 36px;background-image: url(/images/lele/login/login_desir.png);border: none;border-radius: 5px;
}
.loginButnext{
	width: 155px;height: 36px;background-image: url(/images/lele/login/next.png);border: none;border-radius: 5px;
}
.loginButsubmit{
	width: 155px;height: 36px;background-image: url(/images/lele/login/submit.png);border: none;border-radius: 5px;
}