﻿﻿@charset "utf-8";

body{ background-position:top;  background-size:100%; }



/*会员中心*/
.table_second_nav {    border-radius: 5px;border-collapse: collapse; font-size: 14px; color: #666; width: 100%; text-align: center;    background: #f8f8f8;}
 .table_second_nav td {height: 20px; line-height: 20px; padding: 15px; border-top: 2px solid #ececec;}
 .second_nav {cursor: pointer; white-space: nowrap; width: 70px;}
 .second_nav.on{ background:#fff;border-top-color: #fb3c10; color:#fb3c10;}
 .second_nav a:hover { color:#fb3c10;	-webkit-animation:navicon .3s ease-out 0s forwards;
	animation        :navicon .3s ease-out 0s forwards;}
 
.uesrMenuTop {
    height: 76px;
    /*background:url(../../images/lele/common/nav_bg.gif) bottom repeat-x #f2f2f2;*/
    background-color: #545b6d;
 
}
.uesrMenuTop .topMenu{ float:right;}.uesrMenuTop .topMenu a{display:inline-block;line-height:30px;padding:0 15px;    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 17px;margin-right:15px;     border: 1px solid transparent;
    text-shadow: 1px 1px 2px rgba(8,1,3,.1);
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-user-select: none;
    user-select: none;
}.uesrMenuTop .topMenu a.active,.uesrMenuTop .topMenu a:hover{color:#fb3c10;border-bottom-color:#fff; background:#fff;}
.user_dl {
    width: 280px;
    margin: 10px auto auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.user_dl dt {
    width: 70px;
text-shadow: 1px 1px 2px rgba(8,1,3,.1);
    margin-top: 8px;
    float: left; text-align:center;


}
.user_dl dt i{ color:#fff; font-size:40px;}
.UserName {
    width: 100%;
    position: relative;
}


.user_dl dd .UserIP h4 { font-weight:500;    text-shadow: 1px 1px 2px rgba(8,1,3,.1);
    font-size: 16px;
    color: #fff;
}
.user_dl dd label {text-transform:uppercase;

    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
}
.user_dl dd .UserIP {
    text-align: left;
    font-size: 12px;
    color: #efefef;
}
.userBox{width:100%; overflow:hidden; margin:15px auto;}
.userBox .user_menu{width:150px;  border:1px solid #ddd; background:#fafafa; float:left;}
.userBox .user_menu dl{padding-bottom:5px;}
.userBox .user_menu dl dt{font-size:16px; color:#fb5210;  background:#eee; padding:5px 8px; margin-bottom:8px;}
.userBox .user_menu dl dt .fa{ font-size:20px;}
.userBox .user_menu dl dd{height:28px; line-height:28px;}
.userBox .user_menu dl dd a{ padding-left:25px; color:#666; display:block; height:24px;}
.userBox .user_menu dl dd a:hover,.userBox .user_menu dl dd a.curr{text-decoration:underline; color:#a74110;}
.userBox .user_cont{width:838px; float:right; background:#fff;}
.userBox .user_cont .uc_tit{background:#fafafa; padding:6px 10px; border:1px solid #ddd;  overflow:hidden;}
.userBox .user_cont .uc_tit h3{color:#333; font-weight:normal; float:left; font-weight: bold;}
.userBox .user_cont .uc_tit a{color:#333; font-weight:normal; float:right;color:#fb5210 !important;}
.userBox .user_cont .uc_cont{border:1px solid #ddd; margin-top:10px; *margin-top:5px; min-height:660px;}
.u_safe .safe_top{width:100%; overflow:hidden; padding-bottom:10px; border-bottom:1px dotted #ccc;}
.u_safe .safe_top .star .fa{color:#d5d5d5; font-size:30px;}
.u_safe .safe_top .star .fa.curr{color:#ffb200;}
.u_safe .safe_top .text{ padding-top:10px;}
.u_safe .safe_top .text strong{font-weight:normal; font-size:16px; color:#f06701;}
.u_safe .safe_top .text p{color:#666; font-size:12px; padding-top:10px;}
.u_safe .safe_list{padding-top:10px;}
.u_safe .safe_list ul li{padding:15px;    border: 1px solid #ddd;
    overflow: hidden;
    width: 1110px;
    margin-bottom: 10px;
    border-radius: 5px;}
.u_safe .safe_list ul li:hover{border-color:none;}
.u_safe .safe_list ul li.curr:hover{border-color:#f06701;}
.u_safe .safe_list ul li .l_icon{width:45px; height:45px; padding:5px; background:#ccc; float:left; text-align:center; border-radius:5px;
    border-radius: 80px;}
.u_safe .safe_list ul li .l_icon .fa{color:#fff; font-size:30px;  display:block; padding-top:5px;}
.u_safe .safe_list ul li.curr .l_icon {background:#f06701;}
.u_safe .safe_list ul li .l_text{width:480px; float:left; padding-left:20px;}
.u_safe .safe_list ul li .l_text strong{color:#fb5210; font-size:14px; display:block; padding-top:5px;}
.u_safe .safe_list ul li.curr .l_text strong{color:#f06701;}
.u_safe .safe_list ul li .l_text p{color:#666; padding-top:5px;}
.u_safe .safe_list ul li .l_btn{float:right;width:170px;}
.u_safe .safe_list ul li .l_btn a{    border: 1px solid #dadada;
    background: #f5f5f5; display:block; width:150px; height:30px; line-height:30px; border-radius:5px;  text-align:center; font-size:16px; color:#666; margin-top:5px;} 
.u_safe .safe_list ul li .l_btn a:hover{background:#fb5210; color:#fff;}

/*会员中心—安全中心-修改密码*/
.u_codeedit .code_tit{border-bottom:1px solid #ddd; width:100%;  height:36px; clear:both;}
.u_codeedit .code_tit a{display:block; float:left;     border-radius: 3px;   border: 1px solid #dcdcdc; color:#666; padding:8px 15px; font-size:14px; margin-left:15px; border-bottom:0px;}
.u_codeedit .code_tit a.curr{border-bottom:0px; background:#fff; color:#fb3c10; font-weight:bold; /*height:20px;*/ position:relative}
.u_codeedit .code_cont{padding:20px; }
#charge_money .code_cont{display: none;}
#charge_money .code_cont.show{display: block; }

.table_code{width:100%;}
.table_code th{width:18%; font-size:12px; color:#666; font-weight:normal; text-align:right; padding-bottom:20px;}
.table_code td{width:80%; padding-left:2%; padding-bottom:20px;}

/*会员中心—安全中心-修改安全问题*/
.u_q_tit{ height:40px; line-height:40px; border:1px solid #ddd;    border-radius: 5px;}
.u_q_tit table{width:100%; text-align:center; }
.u_q_tit table td{ color:#666; font-size:14px;}
.u_q_tit table td.bg{background:url(../../images/lele/user/ui-step.png) right -55px no-repeat;}
.u_q_tit table td.curr{color:#fb5210; font-weight:bold; background-color:#fcfcfc;}
.u_questionedit .u_q_cont{padding-top:30px;}
.u_questionedit .u_q_cont p{line-height:24px; color:#666; font-size:12px;}
.u_questionedit .u_q_cont strong{font-size:16px; color:#333; font-weight:normal;; }
.u_questionedit .u_success{ text-align:center; background:#eee; padding:20px; overflow:hidden;}
.u_questionedit .u_success .icon{display:inline-block; float:left;}
.u_questionedit .u_success .icon .fa{font-size:60px; color:#fb5210; vertical-align:middle;}
.u_questionedit .u_success .text{ float:left; text-align:left; padding-left:10px; width:400px; }
.u_questionedit .u_success .text strong{ font-size:16px; color:#fb5210;}
.u_questionedit .u_success .text p{font-size:14px; color:#666; padding-top:10px; line-height:26px;}
.u_questionedit .u_error .icon .fa{color:#ff5454;}
.u_questionedit .u_error .text strong{color:#ff5454;}
/*回收*/
.u_q_cont table th{
    border: 1px solid #dddddd;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;
}
.u_q_cont table td{
    border: 1px solid #dddddd;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;
}

.table_code table td{
    border: 1px solid #dddddd;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;
}




/*会员中心—资金管理-充值管理*/
.choiceBank{ position:relative; width:158px;}
.choiceBank .c_tit{ line-height:20px; border:1px solid #cecece; text-align:center; padding:5px; cursor:pointer; overflow:hidden; }
.choiceBank .c_tit .fa{color:#666; font-size:12px; padding-left:5px; float:right;}
.choiceBank .c_list{position:absolute; top:31px; left:0px; width:524px; border:1px solid #cecece; overflow:hidden; background:#fff; padding:20px; display:none;}
.icon_bank{float:left; width:126px; height:35px; display:block; background:url(../../images/lele/user/ui-bank.png) no-repeat; margin-bottom:10px; margin-right:2px; cursor:pointer;}
.icon_bank.bank_ICBC{background-position:0 -537px;}
.icon_bank.bank_CMB{background-position:0 -252px;;}
.icon_bank.bank_CCB{background-position:0 -144px;}
.icon_bank.bank_ABC{background-position:0 0;}
.icon_bank.bank_BOC{background-position:0 -72px;}
.icon_bank.bank_BCM{background-position:0 -324px;}
.icon_bank.bank_BCCB{background-position:0 -35px;}
.icon_bank.bank_BOCO{background-position:5px -323px;}
.icon_bank.bank_CMBC{background-position:0 -288px;}
.icon_bank.bank_CITIC{background-position:0 -216px;}
.icon_bank.bank_SPDB{background-position:0 -900px;}
.icon_bank.bank_PSBC{background-position:0 -756px;}
.icon_bank.bank_SPDB{background-position:0 -900px;}
.icon_bank.bank_SHB{background-position:0 -830px;}
.icon_bank.bank_POST{background-position:0 -755px;}
.icon_bank.bank_CEB{background-position:0 -180px;}
.icon_bank.bank_SPABANK{background-position:0 -864px;}
.icon_bank.bank_PAB{background-position:0 -864px;}
.icon_bank.bank_GDB{background-position:0 -432px;}
.icon_bank.bank_HXBANK{background-position:0 -468px;}
.icon_bank.bank_CIB{background-position:0 -1044px;}
.icon_bank.bank_TENPAY{background-position:0 -1116px;}
.icon_bank.bank_YFB{background-position:0 -1154px;}
.icon_bank.bank_HX{background-position:0 -1234px;}
.icon_bank.bank_HXB{background-position:0 -470px;}
.icon_bank.bank_RUIFENG{background-position:-6px -1270px;}
.icon_bank.bank_ZFB,.icon_bank.bank_zfb{background-position:-0px -1080px;}
.icon_bank.bank_WEIXIN,.icon_bank.bank_weixin{background-position:-0px -1310px;}
.selectBank .icon_bank {
    margin-bottom: 0px;
}
.choiceBank .c_list .icon_bank:hover{outline:1px solid  #fb5210;}
.choiceBank #selectBank{display:block; float:left; text-align:center; width:126px; overflow:hidden;}
.choiceBank #selectBank .icon_bank{margin:0px;}
.choiceBank_tx{position:relative; width:160px;}
.choiceBank_tx .c_tit{ line-height:20px; border:1px solid #cecece; text-align:center; padding:5px; cursor:pointer; overflow:hidden; }
.choiceBank_tx .c_tit .fa{color:#666; font-size:14px; padding-left:5px; float:right;}
.choiceBank_tx .c_list{position:absolute; top:31px; left:0px; width:400px; border:1px solid #cecece; overflow:hidden; background:#fff; padding:20px; }
.choiceBank_tx #selectBank{display:block; float:left; text-align:center; width:126px; overflow:hidden;}
.choiceBank_tx #selectBank .icon_bank{margin:0px;}
.choiceBank_tx .c_list{display:none; padding:20px;}
.choiceBank_tx .c_list  ul li{width:100%; overflow: hidden; height:40px; border-bottom:1px dotted #ccc; padding:5px 0; cursor:pointer;}
.choiceBank_tx .c_list  ul li:hover{box-shadow:2px 2px 2px #999; outline:1px solid #eee;}
.choiceBank_tx .c_list  ul li span{float:left; margin:0px;}
.choiceBank_tx .c_list  ul li input{float:left; vertical-align: middle; margin-top:15px; margin-left:10px;}
.choiceBank_tx .c_list  ul li i{font-size:13px; color:#333;}
.choiceBank_tx .c_list{width:390px; box-shadow:2px 2px 4px #999;}


/*会员中心-投注管理-投注记录*/
.invest .a_item{ background:#fff; border:1px solid #cecece; height:30px; line-height:30px; display:inline-block; padding:0 10px; font-size:12px; color:#666;}

.invest .hm_time_statues .a_item{ padding:0px 5px; }

.invest .a_item.curr{ border-color:#fb5210; }
.invest .btn_zk{display:block; float:right; text-align:center; line-height:16px; background:#F6B403; color:#fff; border-radius:4px; padding-left: 5px;padding-right: 5px;height: 30px;line-height: 30px;}
.invest .btn_zk:hover{ background:#fb5210; color:#fff;}
.invest .alink{text-align:center; background:none; border:0px;}
.invest .toggle{display:none;}
.invest .cx_h2{font-size:16px; padding-bottom:10px;}
.invest .cx_p{ font-size:12px; line-height:30px;}
.zhDetail{width:100%; background:#fff; border:1px solid #ccc; height:120px; overflow-y:auto;}
.zhDetail .zh_tit{ height:30px; line-height:30px; border-bottom:1px solid #ccc; }
.zhDetail .zh_tit span{ display:block; float:left; width:20%; text-align:center; height:30px; line-height:30px; font-weight:bold; color:#333; font-size:14px;}
.zhDetail .zh_list{width:100%; overflow:hidden; height:24px; line-height:24px;}
.zhDetail .zh_list span{float:left; height:24px; line-height:24px; width:20%; display:block; text-align:center; font-size:12px; color:#666;}
.zhDetail .zh_list span.sp1{width:35%;}
.zhDetail .zh_list span.sp2{width:10%;}
.zhDetail .zh_tit span.sp1{width:35%;}
.zhDetail .zh_tit span.sp2{width:10%;}

/*会员中心-账户管理-账户明细*/
.u_codeedit.zhmx .code_cont{padding:0px;}
.user_info{width:100%;}
.user_info table td{text-align:center; height:30px; line-height:30px; padding:10px 5px; background:#eee; font-size:14px;}
.user_info table td .fa{font-size:20px; padding-right:10px; color:#666;}
.proxy_tit{padding:20px;}
.proxy_tit table tr td{height:30px; line-height:30px; font-size:14px;}
.proxy_tit table tr td .c_green{font-weight:bold ;}
.proxy_data{width:100%;}
.proxy_data ul{width:100%; overflow:hidden;}
.proxy_data ul li{float:left;width: 153px; height: 56px; padding-top: 4px;border-right: 1px solid #E3E3E3;text-align: center;font-size:14px;}
.proxy_data ul li span{ display:block; font-size:24px; color:#fb5210;}
.proxy_radio{padding:10px 0; width:100%;}
.proxy_radio label{ padding-right:15px; color:#666;}

/*会员中心-代理中心-开户中心*/
.table_setDetail{width:100%; color:#666;}
.table_setDetail tr th{    background-color: #fff;
     border-bottom: solid 1px #ddd;    background-color: #f5f5f5;  height:40px; line-height:40px; padding:0px; overflow:hidden;}
.table_setDetail tr th a{color:#333; font-size:14px; float:left; display:block; height:40px; line-height:40px; padding:0 20px; border-bottom:1px solid #e3e3e3; margin-left:3px;}
.table_setDetail tr th a.curr{  background:#fff; height:40px; color:#fb5210; font-weight:bold; }
.table_setDetail tr td{width:auto; padding:10px 0; border-bottom:1px solid #e3e3e3;}
.table_setDetail tr td.td1{width:200px;}
.table_setDetail tr td.td2{width:100px;}
.table_setDetail tr td.td3{width:400px;}
.table_setDetail tr td.td4{width:22px;}
.table_setDetail tr td h2{color:#fb5210; font-size:20px; }
.table_setDetail .div_fd{ padding:5px 0; overflow:hidden;}
.table_setDetail .div_fd .ty_text{margin:0 3px; float:left;}
.table_setDetail .div_fd .ty_text.error{border-color:#F46E00; background:#fffcf1; box-shadow:2px 2px 2px #ddd inset;}
.table_setDetail .div_fd span{float:left; width:170px; display:block; height:30px; line-height:30px;}
.table_setDetail .div_fd span:first-child{width:80px;}
.table_setDetail .tab_item{display:none; width:100%;}
.table_setDetail .tab_item.curr{ display:block;}
.table_setDetail .fd_btn{ cursor:pointer; padding:5px 10px; border-radius:5px; background:#fb5210; color:#fff;}
.table_setDetail .fd_btn .fa{padding-right:5px; font-size:16px;}
.table_code .tr_quick{ display:none;}
.cus_btn{ font-size:20px; color:#999; margin:0 5px;}
.cus_btn .fa{ font-size:20px; color:#999;}
.cus_btn:hover .fa{color:#fb5210;}
.d_sendM .d_sendM_tit{padding-bottom:10px;}
.d_sendM .d_sendM_tit .ty_text{width:300px; padding:5px; border:1px solid #ddd;}
.d_sendM .d_sendM_cont textarea{border:1px solid #ddd; padding:5px; width:300px; height:100px;}
.d_sendM  label{ vertical-align:top; line-height:30px;}
.table_letter tr td{ text-align:left;}
.table_letter tr td.td1{text-align:center; width:5%;}
.table_letter tr td.td2{ width:65%;}
.table_letter tr td.td3{width:10%;}
.table_letter tr td.td4{width:20%;}
.table_letter tr td .meg_type{background:#ee5a58; color:#fff; border-radius:4px; padding:2px 5px; margin-right:2px;}
.btn_letter{ color:#666; border:1px solid #ddd; padding:8px 15px; float:right; margin-right:10px; font-size:14px; border-radius:5px;}
.btn_letter .fa{padding-right:5px; font-size:24px;}
.btn_letter:hover{background:#fb5210; color:#fff;}
.sendLetter{padding:10px 0; width:100%; overflow:hidden;}
.letter_control{padding:10px;}
.letter_control .l_btn{     border: 1px solid #ececec;
 background:#f1f1f1; padding:5px 10px; color:#666; border:0px; border-radius:5px; margin:0 5px;}
.letter_control .l_btn:hover{background:#fb5210; color:#fff;}
.letterCont{ padding:10px; margin-top:10px; border-top:1px dotted #ccc;}
.letterCont p{font-size:14px; line-height:24px;}

/*帮助中心*/
.helpCenter{     background-color: #fff;
    border: 1px solid #eaeaea; width:1198px; overflow:hidden;    box-shadow: 0 0 3px rgba(0, 0, 0, 0.04);    border-radius: 4px;}
.helpCenter .help_side{width:269px;     border-right: 1px solid #eaeaea;background:#FAFAFA; float:left;}
.helpCenter .help_side .tit{padding:15px;     border-bottom: 1px solid #eaeaea;    background-color: #fff;    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);}
.helpCenter .help_side .tit h2{font-size:20px; font-weight:normal; color:#fd690f;}
.helpCenter .help_side .tit h2 .iconfont{ font-size:30px; padding-right:10px;}
.helpCenter .help_side .cont{padding:15px;}
.helpCenter .help_side .cont dl{padding:15px 0; border-bottom:1px dotted #e3e3e3;}
.helpCenter .help_side .cont dl dt{ font-size:14px; font-weight:bold; color:#666;}
.helpCenter .help_side .cont dl dd{ line-height:30px; color:#fc670f;}
.helpCenter .help_side .cont dl dd a{color:#fc670f; /*margin:0 5px;*/}
.helpCenter .help_side .cont dl dd span{color:#fc670f;margin:0 5px;}
.helpCenter .help_side .cont dl dd a:hover{text-decoration:underline;}
.helpCenter .help_main{ width:888px; padding:0 20px; float:left;}
.helpCenter .help_main .m_tit{height:56px; line-height:56px; border-bottom:1px dotted #e3e3e3;}
.helpCenter .help_main .m_tit h2{color:#666; font-weight:500; font-size:18px;}
.helpCenter .help_main .m_tit h2 .iconfont{padding-right:10px;}
.helpCenter .qa-q-list-item {

    border-bottom: 1px solid #e6e9ef;
    width:888px;
}.helpCenter .qa-q-list-item h3 {
    font-size: 15px;
    text-align: left;
}.qa-q-list-item h3, .qa-q-list-item p { font-weight:normal;
    margin: 20px 0;
}.helpCenter .qa-q-list-item .qa-ask, .qa-q-list-item .qa-answer {
    width: 20px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    font-size: 12px;
    margin-right: 7px;
    margin-top: -3px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    color: #fff; font-weight:normal;
    background: #fc670f;
    text-align: center;
}
.helpCenter .qa-q-list-item p {    color: #999;
    font-size: 13px;
    line-height: 26px;
} .helpCenter .qa-q-list-item .qa-answer {
    background: #ccc;
    padding-left: 1px;
}.dataTables_paginate {
    float: right;
    margin: 20px 30px 10px 0;
}.dataTables_paginate span a.paginate_active, .dataTables_paginate span a.paginator-current {
    background: #368ee0;
    color: #fff;
    border-radius: 3px;
}.dataTables_paginate span a {
    padding: 3px 8px;
    margin-right: 5px;
    background: #eee;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
}
.helpCenter .help_main .help_cont .hc_tit{ text-align:center;  font-weight:bold;  padding:20px 0; border-bottom:1px  dotted #e3e3e3}
.helpCenter .help_main .help_cont .hc_tit h2{font-size:16px; color:#666;}
.helpCenter .help_main .help_cont .hc_cont{padding:10px 0; line-height:24px; font-size:14px;}
.helpCenter .help_main .help_cont .hc_cont p{padding-bottom:10px; color:#666;}
.helpCenter .help_main .help_cont .hc_cont img{ max-width:100%;}
/*.ty_page .page_jl {*/
    /*float: left;*/
    /*height: 30px;*/
    /*width:auto;*/
    /*line-height: 30px;*/
    /*padding: 10px;*/
/*}*/


/*分页样式开始*/
.pagebutton {
    background: #11B35E;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
#iGotoPage {
    width: 30px;
}
.pager {
    padding: 5px;
}
.pager li {
    display: inline;
    padding: 5px;
    cursor: pointer;
}
.pager li a {
    color: #000;
}
.pager li a:hover {
    color: #EA721A;
}
.pager li.current {
    background: #11B35E;
    border: none;
}
.pager li.current a {
    color: #ffffff;
}
/*分页样式结束*/


/*优惠活动*/
.activity_box{}
.e-txt{white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;}
.e-item{width: 368px;  padding: 0 16px 25px 0; margin-right:15px; float: left; line-height: 1.8; position: relative;_display:inline }
.e-item img{vertical-align: middle }
.e-info{padding:15px 20px 0;border: 1px solid #dcdbdb;  height: 132px;border-top: none; box-shadow: #ccc 0 1px 5px; background:#fff;}
.e-tit{display: block; font-size: 16px; width: 310px; }
.e-tit a{color:#b42206; }
.e-date{display: block; padding-bottom: 10px; width: 310px; }
.e-desc{border-top: 1px solid #e6e5e5; padding-top: 10px; color:#919090; min-height: 46px; height:auto;overflow: hidden; }
.e-status{width: 62px; height:35px;padding-top:42px;text-align: center; position: absolute; right: 5px; top:2px; color:#fff; line-height: 1.4; }

.e-status-cd,.favorites-on{background-image:url(../../images/lele/Activity/sub-sp.png);background-repeat:no-repeat; }
.e-status0{background-position: 0px -154px;}/* 已结束  */
.e-status1{background-position: 0px -77px;}/* 进行中 */
.e-status2{background-position: 0px -0px;}/* 即将开始 */
.e-status0 .favorites-on{background-position:0 -295px;}
.e-status1 .favorites-on{background-position:0 -265px;}
.e-status2 .favorites-on{background-position:0 -235px;}
/* .version-item .e-status-cd{background-position: 0px -100px }
.match-item .e-status-cd{background-position: 0px -200px;} */

.e-item a:hover img{
    -webkit-box-shadow: 0px 0px 5px rgba(67, 72, 84, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(67, 72, 84, 0.5);
    -o-box-shadow: 0px 0px 5px rgba(67, 72, 84, 0.5);
    box-shadow: 0px 0px 10px rgba(67, 40, 40, 0.5);
}

.e-status-end{  padding-top: 15px;}
.e-status span{ font-size: 16px; font-weight: bold;}

.e-navlist{padding:25px 0 25px 0; margin:0 auto; width:200px; }
.e-navlist li{width:90px; float: left; font-size: 14px; margin-right: 10px;height: 30px;line-height: 30px;}
.e-navlist a{display: block; height: 30px; line-height: 30px; color:#333;text-align: center; background:#fff;}
.e-navlist a:hover, .e-navlist .curr a{background-color: #fb5210; color:#fff;text-decoration: none;  }

/*投注页面样式*/
/*-----头部-----*/
.wguk{ width:100%; height:auto;}
.wguk_top{ width:100%;/*background:url(../../images/lele/game/dotted.png);*/ padding:0px 0px 15px 0px;     background-color: #42495a;   box-shadow: 0px 4px 4px rgba(0,0,0,0.1);}
.wguk_top1{ height:90px; padding:15px 0 0 0; }
.umsfi{ width:125px; height:90px; float:left;padding-right:57px; overflow:hidden;}
.umsfi_a{ width:125px; height:72px; overflow:hidden;}
.umsfi_B{ width:125px; height:18px; line-height:18px; text-align:center; overflow:hidden;}
.umsfi_B span{ color:#e92320;}
.ddpkb{ width:300px; height:86px; float:left; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; overflow:hidden;}
.ddpkb_A{ width:72px; height:86px; float:left; overflow:hidden; margin-left:52px; }
.ddpkb_A1{ width:58px; height:58px; line-height:58px; font-size:30px;  color:#777; overflow:hidden; text-align:center;  border: 2px dashed #ef6c42;background:#fff;    border-radius: 50%; }
.ddpkb_A2{ width:58px; height:58px; line-height:58px; font-size:30px;  color:#777; overflow:hidden; text-align:center;   border: 2px dashed #ef6c42;background:#fff;    border-radius: 50%;}
.ddpkb_A3{ width:58px; height:58px; line-height:58px; font-size:30px;  color:#777; overflow:hidden; text-align:center;  border: 2px dashed #ef6c42; background:#fff;    border-radius: 50%;}
.ddpkb_A4{ width:58px; height:18px; line-height:18px; color:#888; overflow:hidden; text-align:center; padding-top:8px;}
.xfjs{ width:413px; height:86px; float:left; overflow:hidden; padding:0px 33px 0px 43px;}
.xfjs_A{ width:401px; height:30px; padding-right:12px; overflow:hidden;}
.xfjs_A1{ width:380px; height:30px; line-height:30px; color:#b0b9c7; float:left; font-size:14px;}
.xfjs_A1 span{ color:#f36f74; padding:0px 3px;}
.xfjs_A2{ width:72px; height:22px;float:right;}
.xfjs_A2 a{ width:70px; height:20px;  color:#e37566; text-align:center; display:inline-block; line-height:20px;}
.xfjs_B{ padding-top:5px;}
.xfjs_B1{ width:47px; height:47px; line-height:47px;border-radius:50%; background-color: #b0b9c7; /*background:url(../../images/lele/game/xylk_02.png) no-repeat; */text-align:center; color:#545b6d; font-size:22px; font-family:Arial, Helvetica, sans-serif; float:left; margin-right:12px;}
.xfjs_B2{ width:47px; height:47px; line-height:47px;border-radius:50%; background:url(../../images/lele/game/xylk_03.png) no-repeat; text-align:center; color:#fff; font-size:22px; font-family:Arial, Helvetica, sans-serif; float:left; margin-right:12px;}
.keno_code{
    width: 27px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-right: 12px;
    border-radius: 50%;
    background-color:#dd734f ;
}


.fhrvk{ width:90px; height:86px; text-align:center; float:left;; overflow:hidden; padding-top:5px; }
.fhrvk .op_link{ margin-top:10px;}
.fhrvk .op_link p {
    line-height: 28px;
    color: #666;
    font-size: 14px;
}
.fhrvk .op_link p a{ color:#b0b9c7;}
.fhrvk span{ width:58px; height:28px; line-height:28px; overflow:hidden; text-align:center; color:#696969; font-size:14px;}

/*-----内容-----*/
.wguk_bottom{ width:100%; height:auto;  padding:12px 0px 25px 0px;margin-bottom: 120px;background-color: #383d50;}
.wguk_bottom1{ width:1200px; margin:0px auto;height: auto;}
.wguk_bottom2{ width:1200px; min-height:720px;height: auto;}
#con{ height:720px; WIDTH:896px;}
#con .con_A{ width:896px; height:37px; background:url(../../images/lele/game/bg_03.gif) repeat;}
#tags { width:792px; height:37px; float:left; overflow:hidden;}
#tags LI { width:78px; height:37px; border-left:1px solid #ddd; border-right:1px solid #ddd; float:left; line-height:37px; overflow:hidden;white-space:nowrap; margin-left:-1px; text-align:center; display:inline-block;}
#tags LI a{ width:78px; height:37px; line-height:37px; overflow:hidden; display:inline-block;}
#tags LI.emptyTag {BACKGROUND: none transparent scroll repeat 0% 0%;}
#tags LI.selectTag { background:url(../../images/lele/game/bg_04.gif) repeat;MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT:37px; width:78px;  display:inline-block;}
#tags LI.selectTag A { display:inline-block; COLOR: #f16161; width:78px;LINE-HEIGHT: 37px; HEIGHT:37px}
#tagContent { width:896px; min-height:683px;height: auto; background:#fff;}
.tagContent { width:896px; min-height:683px;height: auto; background:#fff; display:none;}
#tagContent DIV.selectTag {	DISPLAY: block}
.wttfg{ float:right; height:37px; background:url(../../images/lele/game/bg_02.gif) no-repeat 0px 1px; text-align:center; width:93px; line-height:37px; padding-left:10px;}
.wttfg a{ color:#ee2b33;}
.mwpw_A{ width:841px; min-height:5px; height:auto;border-bottom:1px solid #f0f0f0;padding:14PX 50PX 5PX 5PX;background-color: #9098ad;}
.mwpw_A dl{ width:841px; height:23px; display:block; overflow:hidden;}
.mwpw_A dl dt{ width:70px; height:23px; line-height:23px; overflow:hidden; float:left; font-weight:bold; color:#626262;}
.mwpw_A dl dd{ width:770px; height:23px; line-height:23px; float:left; overflow:hidden;}
.mwpw_A dl dd a{ height:23px; line-height:23px; padding:0px 10px; display:inline-block; color:#686868;}
.mwpw_A dl dd a.mwpw_A1{ background:#fe6263; color:#fff;}

.rmui{ width:896px; min-height:720px; height: auto; float:left; margin-right:20px; background:#fff;}
.mwpw_B1{ width:827px; height:18px; padding:11px 35px 11px 35px;}
.mwpw_B1_left{ width:671px; height:18px; float:left;}
.mwpw_B1_left1{ width:116px; float:left;}
.mwpw_B1_left1 a{ width:40px; overflow:hidden; float:left;height:18px; line-height:18px; padding-left:18px; background: url(../../images/lele/game/xylk_07.jpg) no-repeat 0px 3px; display:inline-block;}
.mwpw_B1_left1 a.ivueb{ color:#ee2b33;background: url(../../images/lele/game/xylk_08.jpg) no-repeat 0px 3px; }
.mwpw_B1_left2{ width:541px; float:left;}
.mwpw_B1_left2 a{ float:left; height:18px; line-height:18px; padding:0px 10px; display:inline-block;}
.mwpw_B1_left2 span{ float:left; font-size:10px; color:#c4c4c4;}
.mwpw_B1_left2 a:hover{ color:#ee2b33; text-decoration:underline;}
.mwpw_B1_left2 a.ghavklk{ text-decoration:underline; color:#ee2b33;}
.mwpw_B1_right{width:156px; height:18px; float: right;}
.mwpw_B1_right a{ float:left; color:#ee2b33; width:60px; height:18px; line-height:18px; display:inline-block; overflow:hidden; padding-left:18px;}
.mwpw_B1_right a.mwpw_B1_right1{ background:url(../../images/lele/game/xylk_05.jpg) no-repeat left 2px;}
.mwpw_B1_right a.mwpw_B1_right2{ background:url(../../images/lele/game/xylk_06.jpg) no-repeat left 2px;}
.mwpw_B2{ width:870px; min-height:50px;height: auto; padding:0px 35px 0px 35px;}
.tfkgov{ padding-top:8px;}
.tfkgov_A{ width:64px; height:54px; float:left;}
.tfkgov_A1{ margin:5px 0px; width:64px; height:20px; line-height:20px; display:inline-block; overflow:hidden; text-align:center; background:url(../../images/lele/game/bg_05.gif) no-repeat left; color:#666;}
.tfkgov_A2{ height:64px; height:24px; line-height:24px; text-align:center; overflow:hidden; color:#979797;}
.tfkgov_B{ width:432px; height:54px; float:left; overflow:hidden;}
.tfkgov_B ul li{ width:30px; height:54px; float:left; display:inline-block; padding-left:13px;}
.tfkgov_B ul li a{ width:28px; height:28px;border-radius:50%; border:1px solid #d4d4d4; text-align:center; display:inline-block; line-height:28px;   font-size:15px;display:block; color:#7b7b7b;}







.tfkgov_B ul li span{ width:30px; height:24px; line-height:24px; text-align:center; display:inline-block; color:#979797;}

.tfkgov_C{ width:240px; height:30px;float:left; padding:12px 0px 12px 86px;}
.tfkgov_C a{width:28px; height:28px;border-radius:50%; border:1px solid #f1f1f1; text-align:center; display:inline-block; line-height:28px; background:#fff; color:#797979;  font-size:12px; margin-left:6px !important; overflow:hidden;}

.ball-control a:hover, .ball-control a.none.current:hover, .ball-control a.current, .ball-control a.current:hover {
    text-decoration: none;
    background-color: #f1f2f2;
    border-color: #caced1;
}

.mwpw_C{ width:841px; min-height:236px;height:auto; padding:14px 20px 0px 35px;}
.mwpw_C1{ width:826px; height:22px;margin-bottom:14px;}
.mtqckb{ width:178px; height:22px; float:left;display:block; margin-left:1px;}
.mtqckb a{ width:36px; height:24px; line-height:24px;text-wrap:normal; border:1px solid #d6d6d6; display:inline-block; float:left; text-align:center; margin-left:-1px; margin-top:-1px; position:relative;}
.mtqckb a.mtqckb1{ border:1px solid #e31616; color:#e31616; z-index:99;}
.tfqaov{ width:520px; height:22px; padding-left:20px; float:left;}
.tfqaov_A{ width:600px; height:26px;}
.tfqaov_A1{ width:24px; height:24px; border:1px solid #d4d4d4; background:#e0e0e0; font-size:12px; line-height:24px; float:left; text-align:center; cursor: pointer;}
.tfqaov_A2{ width:42px; height:24px; border-top:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; border-right:none; border-left:none; text-align:center; line-height:24px; float:left;}
.tfqaov_B{ width:600px; height:26px; line-height:26px;}
.tfqaov_B strong{ color:#ff2e31; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:0px 3px;}
.lkgckl{ width:119px; height:32px; float:left; margin-left:34px;margin-bottom: 10px;}
.lkgckl_A{ width:119px; height:28px; line-height:28px; background:#b3b3b3; display:inline-block; color:#fff; text-align:center;border-radius:3px;}
.mwpw_C2{ width:841px; height:150px;}
.sakgb{ width:688px; height:150px; float:left;}
.sakgb_A{ width:686px; height:28px; border:1px solid #e9e9e9; background:url(../../images/lele/game/bg_06.gif) no-repeat center 7px;}
.sakgb_A1{ padding:5px 0px 5px 10px; float:left;}
.sakgb_A1 span{ float:left; height:18px; line-height:18px; padding:0px 5px;}
.sakgb_A1 input{ width:38px; height:16px; line-height:16px; border:1px solid #b6b6b6;border-radius:3px; text-align:center; float:left;}
.sakgb_A1 a{ height:18px; line-height:18px; float:left; display:inline-block; padding:0px 10px; background:#e9e9e9;border-radius:3px;}
.sakgb_A2{ float:right; padding-right:5px; padding-top:5px;}
.sakgb_A2 a{ height:18px; line-height:18px; padding:0px 10px; background:#e9e9e9; color:#ff2e2f; display:inline-block;border-radius:3px;}
.sakgb_B{ width:680px; height:100px; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; padding:3px; background:url(../../images/lele/game/bg_07.gif) no-repeat center 30px;}
.sakgb_B1{ width:680px; height:100px; overflow: auto; }
.sakgb_C{ width:666px; height:35px; border:1px solid #e9e9e9; border-top:none; line-height:30px; color:#5c5c5c; padding:0px 10px;}
.sakgb_C strong{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ff2b35; padding:0px 3px;}
.ghuksb{ width:136px; height:150px; float:left; padding-left:15px;}
.ghuksb_A{ width:136px; height:60px; line-height:60px; background:#fd2e2e;display:inline-block;border-radius:3px; color:#fff;font-size: xx-large;}
.ghuksb_B{ height:136px; margin-top:12px;}
.ghuksb_B a{ width:100px; overflow:hidden; float:left;height:18px; line-height:18px; padding-left:18px; background: url(../../images/lele/game/xylk_07.jpg) no-repeat 0px 3px; display:inline-block;}
.ghuksb_B a.ivueb{ color:#ee2b33;background: url(../../images/lele/game/xylk_08.jpg) no-repeat 0px 3px; }



/*=========right===================*/
.whwy{ width:284px; height:720px; float: left;}
.whwy_A,.whwy_B,.whwy_C,.wguk_bottom3,.rmui{    border-radius: 3px;
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
    overflow: hidden;}
.whwy_A{ width:227px; height:104px; background:url(../../images/lele/game/bg_10.gif) #fff no-repeat center top; padding:36px 28px 14px 28px; overflow:hidden;}
.whwy_A1{ width:227px; height:40px; margin-bottom:5px;}
.udikwql{ width:40px; height:40px;border-radius:50%; overflow:hidden; display:block; float:left;}
.qkpbkl{ float:left; width:172px; height:40px; line-height:40px; padding-left:15px; font-size:16px;}
.whwy_A2{ width:227px; height:26px; overflow:hidden; margin-bottom:8px; line-height:26px;}
.whwy_A2 strong{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ff2e2e;}
.whwy_A2 .fa{ color:#999; cursor:pointer;}
.whwy_A3{ width:227px; height:24px;}
.whwy_A3 a{ width:57px; height:22px; line-height:22px; text-align:center; border:1px solid #d1d1d1; color:#343434; display:inline-block; float:left; background:#f8f8f8;border-radius:3px;}
.whwy_A3 a:hover{ background:#f36f74; border:1px solid #ff2c2c; color:#fff;}
.whwy_B{ width:284px; height:448px; background:#fff; margin:0px 0px 20px 0px;}
.whwy_B1{ width:264px; height:40px; line-height:40px; padding:0px 10px 0px 10px; background-color: #545b6d; /*background:url(../../images/lele/game/title_head_bg.png) bottom; */font-size:14px; color:#fff;}

.whwy_B2{ width:284px; height:242px;}
.sfijghm{ width:258px; height:34px; line-height:34px; padding:0px 13px;}
.sfijghm span{ width:122px; height:34px; line-height:34px; text-align:center; font-size:14px; color:#333; float:left; display:block;}
.sfijghm strong{ width:82px; height:34px; line-height:34px; text-align:center; font-size:14px; color:#333; float:left; display:block; font-weight:normal;}
.sfijghm em{ width:52px; height:34px; line-height:34px; text-align:center; font-size:14px; color:#333; float:left; display:block;}
.gqgekbm_A{ width:258px; height:33px; line-height:33px; border-bottom:1px solid #f1f1f1; padding:0px 13px;}
.gqgekbm_A span{ width:122px; height:34px; line-height:34px; text-align:center; font-size:12px; color:#333; float:left; display:block;}
.gqgekbm_A strong{ width:82px; height:34px; line-height:34px; text-align:center; font-size:14px; color:#fd5a4f; float:left; display:block; letter-spacing: 0px; font-family:Arial, Helvetica, sans-serif;}
.gqgekbm_A em{ width:52px; height:34px; line-height:34px; text-align:center; font-size:12px; color:#333; float:left; display:block;}

.whwy_C{ width:284px; height:249px; background:#fff;}
.whwy_C1{ width:264px; height:40px; line-height:40px; padding:0px 10px 0px 10px; background-color: #545b6d; /* background:url(../../images/lele/game/title_head_bg.png) bottom;*/ font-size:14px; color:#fff;}
.whwy_C1 .fa,.whwy_B1 .fa{ margin:0 5px 0 8px;}
.whwy_C2{ width:284px; height:208px;}
.khuqqk{ width:258px; height:33px; line-height:33px; border-bottom:1px solid #f1f1f1; padding:0px 13px;}
.khuqqk_A{ width:90px; height:33px; line-height:33px; float:left; overflow:hidden; padding-left:5px;}
.khuqqk_A em{ width:15px; height:15px; background:#f16d61; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:14px; display:inline-block;border-radius:50%; margin-top:10px; line-height:15px; text-align:center; font-size:8px;}
.khuqqk_A em.one_bg{ background:#de3f44;}


.khuqqk_B{ width:76px; height:33px; line-height:33px; float:left; overflow:hidden;}
.khuqqk_C{ width:63px; height:33px; line-height:33px; float:left;}
.khuqqk_C strong{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ff2a30; font-weight:normal;}


.wguk_bottom3{ width:1200px; height:255px; background:#fff; margin-top:22px;}
.nTab{width:1200px;height:276px; /*padding-top:9px;*/overflow:hidden;}
.none {display:none;}
.nTab .TabTitle{width:1160px; height:36px; border-bottom:1px solid #f0f0f0; padding:0px 20px;background-color: #545b6d;}
.nTab .TabTitle li{float:left;cursor:pointer;height:36px;line-height:36px;font-weight:bold;text-align:center;width:100px; border:1px solid #f0f0f0; border-bottom:none; margin-right:5px;}
.nTab .TabTitle li a{text-decoration:none;}
.nTab .TabTitle .active{background:#fff;color:#ff625f; border-top:2px solid #ff625f; top:1px; z-index:88;}
.nTab .TabTitle .normal{background:#fff;color:#646464}
.nTab .TabContent{ width:1200px; height:238px;clear:both;overflow:auto;background:#fff;display:block}

.ghiykba{ width:100%;border-collapse:collapse;}
.ghiykba th{ width:133px; height:34px; line-height:34px; text-align:center; background:#fbfbfb; color:#949494;}
.ghiykba td{ width:133px; height:34px; line-height:34px; text-align:center; color:#666;}
.ghiykba_A{ font-size:14px; color:#fd5a4f; letter-spacing: 2px; font-family:Arial, Helvetica, sans-serif;}
.ghiykba_B{font-size:14px; color:#fd5a4f;}
.ghiykba_C{ color:#eee; font-size:10px;}
.ghiykba_D{ color:#fd5a4f;}

/*购彩大厅*/
.lottery{width:1180px; background:#fafafa; padding:10px; margin:15px auto;    border-radius: 5px;
    box-shadow: 0 0 16px rgba(0,0,0,0.15);
}
.lottery_section{margin-bottom:10px;}
.lottery_section .lottery_section_tit{     border-bottom: 1px solid #ddd; width:100%; overflow:hidden;}
.lottery_section .lottery_section_tit h2{ background-color:#fb5210; background-image: -webkit-linear-gradient(left,#fb5210,#ffd35c); color:#fff;text-align:center;width:120px; height:30px; line-height:30px; float:left; font-weight:normal; font-size:16px;}
.lottery_section .lottery_section_cont{width:100%; overflow:hidden;}
.lottery_section .lottery_section_cont ul{width:1000px; overflow:hidden;}
.lottery_section .lottery_section_cont ul li{width:196px;     box-shadow: 0 0 16px rgba(0,0,0,0.1);
    background-color: #fff;    border: 1px solid #e5e5e5;
    border-radius: 5px; float:left; height:150px; margin-top:15px; margin-right:10px; overflow:hidden; margin-bottom:5px;}
.lottery_section .lottery_section_cont ul li:hover{box-shadow:3px 3px 3px #ccc;}
.lottery_section .lottery_section_cont ul li .li_tit{width:176px; padding:8px; overflow:hidden; height:84px;}
/*.lottery_section .lottery_section_cont ul li .li_tit .l_img{float:left; width:80px; height:80px; background:url(../images/game/czlogo_81x85_c1d9697.png) no-repeat;}*/
.lottery_section .lottery_section_cont ul li .li_tit .l_img{float:left; width:80px; height:80px;}
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz1{ background-position:-85px -360px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz2{background-position:-252px -276px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz3{background-position:-339px -181px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz4{background-position:-85px -450px;}
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz5{background-position:-419px -181px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz6{background-position:0px -91px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz7{background-position:0px -360px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz8{background-position:0px -450px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz9{background-position:-85px -91px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz10{background-position:-256px 0px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz11{background-position:-171px 0px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz12{background-position:-419px -272px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz13{background-position:-339px -91px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz14{background-position:-171px -181px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_img.icon_cz15{background-position:-419px -360px;} 
.lottery_section .lottery_section_cont ul li .li_tit .l_p{display:block; float:right; width:90px; line-height:24px; color:#666; height:80px; overflow:hidden;}
.lottery_section .lottery_section_cont ul li .li_tit .l_p a{display:block;color:#fb5210; font-size:15px; padding-bottom:2px; }
.lottery_section .lottery_section_cont ul li .li_tit .l_p a:hover{text-decoration:underline;}
.lottery_section .lottery_section_cont ul li .li_cont{text-align:center; padding-top:2px;}
.lottery_section .lottery_section_cont ul li .li_cont .l_btn{ display:inline-block;    background: #fff;
    border: 1px solid #ececec; border-radius:3px; font-size:14px; padding:5px 0px; text-align:center;  width:80px; *display:inline; *zoom:1;}
.lottery_section .lottery_section_cont ul li .li_cont .l_btn:hover{background: #fef2c0;
    border: 1px solid #ff9600;color: #e75200;}

#hemai_cont {display: none;}
#choice_Multiple{width:50px; height:18px; margin-right:5px;}



/** 新闻列表页面 **/
.news_list{ width:100%; height:auto; overflow:hidden;min-height:415px; margin-top:15px;  }
.news_list .title{height:38px;line-height:38px;padding:0 15px;border:1px solid #E3E3E3;background-color:#fff;    font-size: 13px;   
    border-radius: 5px;
    color: #333;}
.news_list .title .fa-volume-up{ color:#fff; background:#aaa;     border-radius: 50%;width: 16px;
    height: 16px;
    line-height: 16px;text-align: center; font-size:12px; }

.news_list .news_content {padding:10px; width:1178px; border:1px solid #E3E3E3; height:auto; min-height:452px; overflow:hidden; margin:15px 0px; background:#FAFAFA; }  
.news_list .news_content ul{ width:95%; margin:0px auto; height:auto; overflow:hidden; }
.news_list .news_content ul li{ width:100%; height:35px; line-height:35px; border-bottom:1px dashed #ddd; }  
.news_list .news_content ul li:hover a{ text-decoration:underline;  }
.news_list .news_content ul li a{ width:auto; float:left; height:35px; max-width:80%; line-height:35px; overflow:hidden; color:#fb3c10;white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s; }
.news_list .news_content ul li a:hover{
-webkit-transform:translateX(5px); -moz-transform:translateX(5px); transform:translateX(5px);}

.news_list .news_content ul li span{ width:auto; float:right; height:35px; max-width:20%; text-align:right; color:#666; line-height:35px; overflow:hidden; }

.news_content .toptitle,h2.subTitle,.info{text-align:center;}
.news_content .toptitle{line-height:40px;color:#ea3100;}
.news_content .h2.subTitle{line-height:20px;}
.news_content .info{display:block;border-top:4px solid #eee;line-height:35px;margin-top:10px;}
.news_content .info em{color:#eee;}
.news_content .info a.on{color:#f23300;}
.news_content .info a:hover{border-bottom:2px solid #f23300;color:#f23300;}
.news_list .news_content .content p {
    text-indent: 2em;
}



.lrxpage_container{ width:95%; margin:20px auto; height:auto; overflow:hidden;  }
.lrxpage_container a{  color:#333; }
.lrxpage_container .page-text{ float:left; height:30px; line-height:30px; overflow:hidden; padding-left:15px; }
.lrxpage_container .lrx_page_type2{ width:80%; float:right; padding:0px; height:30px;  }
.lrxpage_container .lrx_page_type2  .goto_index{ width:auto; float:right; padding:0px 0px 0px 15px; height:30px; }
.lrxpage_container .lrx_page_type2  .goto_index  .sub_btn{ cursor:pointer; width:60px; text-align:center; background:#f8f8f8; border:1px solid #ddd; height:28px; line-height:28px; }
.lrxpage_container .lrx_page_type2  .goto_index  .page_input{ width:30px; text-align:center; background:#fff; border:1px solid #ddd; height:16px; line-height:16px; padding:6px 5px; }
.lrxpage_container .lrx_page_type2  .page_code{ float:right; height:30px; line-height:28px; overflow:hidden; }
.lrxpage_container .lrx_page_type2  .next_page{ width:70px; text-align:center; height:28px; border:1px solid #ddd; float:right; line-height:28px; }
.lrxpage_container .lrx_page_type2  .next_page a{ display:block; width:100%; height:28px; line-height:28px; }
.lrxpage_container .lrx_page_type2  .next_page a:hover{ background:#eee;  }
.lrxpage_container .lrx_page_type2  .page_numb{ width:auto; float:right; }
.lrxpage_container .lrx_page_type2  .page_numb a{ border:1px solid #ddd; width:30px; text-align:center; height:28px; display:block; float:left; border-right:0px;}
.lrxpage_container .lrx_page_type2  .page_numb a:first-child{ border-left:0px; }
.lrxpage_container .lrx_page_type2  .page_numb a:hover{  background:#eee; }
.lrxpage_container .lrx_page_type2  .page_numb a.curr,
.lrxpage_container .lrx_page_type2  .next_page a.curr{   background:#eee; }
/*** 新闻列表页 ***/

/*** 新闻详细页 ***/
.news_list .news_content .article_title{ padding:10px 0 5px;text-align:center; }
.news_list .news_content .article_publishTime{ border-bottom:1px solid #E3E3E3;line-height:3;text-align:center;color:#999; }
.news_list .news_content .article_content{ width:96%; margin:0px auto; padding:10px 0px; height:auto; line-height:20px; }
.news_list .news_content .article_content img{ max-width:100%!important; }
/*** 新闻详细页 ***/


/*** 合买大厅 ***/
.with_buy_center{ width:100%; height:auto; overflow:hidden; margin:15px 0px }
.with_buy_center .left_buy{ width:160px; float:left; height:auto; overflow:hidden; border:1px solid #ddd; background:#FAFAFA; min-height:500px; }
.with_buy_center .left_buy h2{ width:200px; padding:15px; border-bottom:1px solid #e3e3e3; font-size:20px; font-weight:normal; color:#fb5210; } 
.with_buy_center .left_buy h2 .fa{ font-size:30px; padding-right:10px;}
.with_buy_center .left_buy .width_buy_catelist{ width:200px; padding:15px; height:auto; overflow:hidden; } 
.with_buy_center .left_buy .width_buy_catelist h3{  font-size:14px; font-weight:bold; color:#666; height:30px; line-height:30px; color:#fb5210;}
.with_buy_center .left_buy .width_buy_catelist ul{ width:100%; height:auto; overflow:hidden; padding:5px 0px; }
.with_buy_center .left_buy .width_buy_catelist ul li{ width:100%; height:30px; line-height:30px; text-indent:20px; }
.with_buy_center .left_buy .width_buy_catelist ul li a{ font-size:12px; color:#fb5210; display:block;  }
.with_buy_center .left_buy .width_buy_catelist ul li:hover{ background:#eee; }

.with_buy_center .right_buy_list{ width:820px; float:right; height:auto; overflow:hidden; border:1px solid #ddd; background:#FAFAFA; padding:15px 0px; min-height:766px; }

.with_buy_center .right_buy_list .hot_title{ width:800px; padding:0px 15px; padding-bottom:15px; height:33px; line-height:33px; overflow:hidden; border-bottom:1px solid #e3e3e3 }
.with_buy_center .right_buy_list .hot_title .tt{  font-size:20px; font-weight:normal; color:#fb5210; } 
.with_buy_center .right_buy_list .hot_title .creat_hemai_tt{ width:126px; height:33px; line-height:33px; overflow:hidden; } 
.with_buy_center .right_buy_list .hot_title .creat_hemai_tt .ttname{ display:block; border-radius:3px; height:33px; line-height:33px; text-align:center; color:#fff; background:#fb5210; font-size:16px; border:0px; padding:0 15px; }
.with_buy_center .right_buy_list .list_container{ width:100%; height:auto; overflow:hidden; }
.with_buy_center .right_buy_list .list_container .search_conditions{ height:24px; width:800px; padding:5px 15px; border-bottom:1px solid #ddd; }
.list_container .search_conditions .search_obj{ width:auto; float:left; padding-right:7px; }
.list_container .search_conditions .search_obj select{ width:auto; height:22px; line-height:22px; }

.list_container .search_conditions .search_input{ width:auto; float:left; padding-right:7px; }
.list_container .search_conditions .search_input .sort_input{ width:120px; padding:0px 5px; border:1px solid #aaa; height:22px; line-height:22px; }
.list_container .search_conditions .search_input label{ width:auto; height:16px; line-height:16px; margin-top:3px; float:left; }
.list_container .search_conditions .search_input label .reg_check{ margin-top:2px; }
.list_container .search_conditions .search_input .sub_btn{ width:60px; border:none; border-radius:3px; height:24px; line-height:24px; color:#fff; cursor:pointer; }
.list_container .search_conditions .search_input .bgc_org{ background:#a74110; }
.list_container .search_conditions .search_input .bgc_org:hover{ background:#FDAB35; }
.list_container .listCont_dlCont{ width:100%; height:auto; overflow:hidden; }

.listCont_dlCont_h li{ width:780px; height:35px; line-height:35px; overflow:hidden; color: #666; float:none;padding:0px 20px 0px 20px;}
.listCont_dlCont_h li>span{ float:left; height:35px; line-height:35px; overflow:hidden;  }
.listCont_dlCont_h .Nober{ width:65px; text-align:center;}
.listCont_dlCont_h .Creater{ width:70px;text-align:center; }
.listCont_dlCont_h .TypeOf{ width:100px;text-align:center; }
.listCont_dlCont_h .Proccess{ width:110px; text-align:center;} 
.listCont_dlCont_h .IsEnd{ width:80px; text-align:center;} 
.listCont_dlCont_h .SolutPrice{ width:115px; text-align:center; }
.listCont_dlCont_h .SolutPrice .c_org{ width:53%; float:left; text-align:right; text-indent:0px; overflow:hidden;}
.listCont_dlCont_h .SolutPrice em{ float:left; width:5%; height:auto; overflow:hidden; }
.listCont_dlCont_h .SolutPrice .c_blue{ width:42%; float:right; text-align:left; text-indent:0px; overflow:hidden;}
.listCont_dlCont_h .BuyAmount{ width:80px; text-align:center; }
.listCont_dlCont_h .Times{ width:100px;  text-align:center; }
.listCont_dlCont_h .Action{ width:120px; text-align:center;}
.listCont_dlCont_h .Action a { display:block; width:60px; border-radius:3px; text-align:center; height:24px; line-height:24px; margin:5px auto; color: #fff; background:#fb5210; float:none; }
.listCont_dlCont_h .Action a:hover{ background:#00b000; }
.listCont_dlCont_h li{ border-bottom:1px dashed #eee; }
.listCont_dlCont_h li:hover{ background:#eee; } 

.listCont_dlCont li{ width:780px; height:75px; overflow:hidden; color: #666; float:none; padding:0px 20px 0px 20px;}
.listCont_dlCont li .header_th_div>span{ float:left; height:35px; line-height:35px; overflow:hidden;  }
.listCont_dlCont .header_th_div{height:35px;}
.listCont_dlCont .bg_white{background-color:white;}
.listCont_dlCont .dashed{border-bottom:1px dashed #eee;}
.listCont_dlCont .header_th_div .Nober{ width:70px; text-align:center;}
.listCont_dlCont .header_th_div .Creater{ width:70px;text-align:left; }
.listCont_dlCont .header_th_div .TypeOf{ width:100px;text-align:center; }
.listCont_dlCont .header_th_div .Proccess{ width:110px; text-indent:35px;} 
.listCont_dlCont .header_th_div .IsEnd{ width:80px; text-align:center;} 
.listCont_dlCont .header_th_div .SolutPrice{ width:115px; text-align:center; }
.listCont_dlCont .header_th_div .SolutPrice .c_org{ width:53%; float:left; text-align:right;  overflow:hidden;}
.listCont_dlCont .header_th_div .SolutPrice em{ float:left; width:5%; height:auto; overflow:hidden; }
.listCont_dlCont .header_th_div .SolutPrice .c_blue{ width:42%; float:right; text-align:left;  overflow:hidden;}
.listCont_dlCont .header_th_div .BuyAmount{ width:80px;  text-align:center; }
.listCont_dlCont .header_th_div .Times{ width:100px;  text-align:center;}
.listCont_dlCont .header_th_div .Action{ width:120px; text-align:center;}
.listCont_dlCont .header_th_div .Action a { display:block; width:60px; border-radius:3px; text-align:center; height:24px; line-height:24px; margin:5px auto; color: #fff; background:#fb5210; float:none; }
.listCont_dlCont .header_th_div .Action a:hover{ background:#00b000; }
.listCont_dlCont li{ border-bottom:1px dashed #eee; }
.listCont_dlCont li:hover{ background:#eee; } 



/*充值页更新*/
.bank_nextComfire{display:none;}
.bank_nextComfire.show{display:block;}
.bank_nextComfire .bank_check{  border-top:20px; padding:20px; border:1px solid #ddd; color:#666;}
.bank_nextComfire .bank_check h2{ font-size:14px; color:#666; padding-bottom:10px;}
.bank_nextComfire .bank_check .ui_form{width:100%;}
.bank_nextComfire .bank_check .ui_form li{width:100%; overflow:hidden; line-height:36px;}
.bank_nextComfire .bank_check .ui_form li .ui_label{width:25%; float:left; font-weight:bold; text-align:right; color:#666;}
.bank_nextComfire .bank_check .ui_form li .ui_cont{width:73%; float:right; text-align:left; padding-left:2%;}
.bank_nextComfire .bank_check .ui_form li .ui_cont .copy_btn{float:right; color:#fb5210; margin-right:10px;}
.bank_nextComfire .bank_check .ui_form li .btn{ background:#ffba00; color:#fff; border-radius:5px; padding: 8px 10px; border:0px; margin-right:10px;margin-bottom:5px; }
.bank_nextComfire .bank_check .ui_form li .btn:Hover{background:#ffc936; box-shadow:2px 2px 2px #ccc; }
.bank_nextComfire .bank_info{width:100%; overflow:hidden; margin-top:20px;}
.bank_nextComfire .bank_info .bank_check{float:left; width:460px; height:280px;}
.bank_nextComfire .bank_info .bank_cound{float:right; width:185px; padding:20px; border:1px solid #ddd; color:#666; height:280px;}
.bank_nextComfire .bank_info .bank_cound .tit{font-weight:bold;}
.bank_nextComfire .bank_info .bank_cound .tit .c_green{margin-left:20px;}
.bank_nextComfire .bank_info .bank_cound .time{color:#EE4645; font-size:60px; text-align:center; padding-top:50px;}
.bank_nextComfire .bank_info .bank_cound .text{ padding-top:80px;}

/*高级追号部分*/
.gjzh{ width:100%; overflow:hidden; color:#666; display:none;}
.gjzh .ty_text{width:60px; height:16px; line-height:16px;}
.gjzh .gjzh_cont{border-top:1px solid #ddd; background:#fff; width:110%; overflow:hidden; border-bottom:1px solid #ddd;}
.gjzh .gjzh_cont .title{float:left; padding:5px; text-align:center; width:14px; font-size:14px; height:110px; padding-top:20px; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.gjzh .gjzh_cont .base-parameter{float:left; padding:10px 15px;}
.gjzh .gjzh_cont .base-parameter ul li{padding-bottom:10px;}
.gjzh .gjzh_cont .high-parameter{float:left; width:610px; overflow: hidden;}
.gjzh .gjzh_cont .high-parameter .ty_text{width:65px;}
.gjzh .gjzh_cont .high-parameter .tab_tit{background:#f9f9f9; border-bottom:1px solid #e5e5e5; width:630px;  height:30px; line-height:30px;}
.gjzh .gjzh_cont .high-parameter .tab_tit h3{float:left; padding:0px 15px; font-weight: normal; color:#666; font-size:12px; cursor:pointer;  border-right:1px solid #e5e5e5; height:30px;}
.gjzh .gjzh_cont .high-parameter .tab_tit h3.curr{background:#fff; height:31px;}
.gjzh .gjzh_cont .high-parameter .tab_cont{padding-top:18px; padding-left:18px;}
.gjzh .gjzh_cont .high-parameter .tab_cont .item{display: none;}
.gjzh .gjzh_cont .high-parameter .tab_cont .item.curr{display:block;}
.gjzh .gjzh_cont .high-parameter p{padding-bottom:10px;}
.gjzh .gjzh_sub{text-align:center; padding:10px 0;}
.gjzh .gjzh_sub #gjzh_sc{background:#ffba00; color:#fff; text-align:center; padding:8px 14px; border-radius:3px; border:0px;}
.gjzh .gjzh_sub #gjzh_sc:hover{background:#FFD257; box-shadow:2px 2px 2px #ddd;}

#gjzh_begin{ color:#fb5210;}
 


/************  lrxiang 分页 *****************/
/*#data_selectBall{ display:none!important; }*/
/*.ty_page .page_jl{ float:left; height:30px; line-height:30px; padding:10px;  }*/
/*.lrxpage_list{ width:auto; padding:10px; float:right; }*/
/*.lrxpage_list a{ color:#333; }*/
/*.lrxpage_list .next_page{ width:70px; text-align:center; height:28px; border:1px solid #ddd; float:right; line-height:28px; }*/
/*.lrxpage_list .next_page a{ display:block; width:100%; height:28px; line-height:28px; }*/
/*.lrxpage_list .next_page a:hover{ background:#eee;  }*/
/*.lrxpage_list .page_numb{ width:auto; float:right; }*/
/*.lrxpage_list .page_numb a{ border:1px solid #ddd; width:30px; text-align:center; height:28px; line-height:28px; display:block; float:left; border-right:0px;}*/
/*.lrxpage_list .page_numb a:first-child{ border-left:0px; }*/
/*.lrxpage_list .page_numb a:hover{ background:#eee; }*/
/*.lrxpage_list .page_numb a.curr,*/
/*.lrxpage_list .next_page a.curr{ background:#eee; }*/

/************  lrxiang 分页 *****************/



/************   站内信 *****************/
.msg_letterCont{}
.msg_letterCont .theme{color:#080808;background-color:#f8f8f8;border-bottom: 1px solid #e3e3e3; height:30px; line-height:30px; text-align:center; margin-bottom:15px; font-size:16px; font-weight:700;}
.msg_letterCont .details{padding:0px 5px 0px 5px;}
.msg_letterCont .details .details_title{color:#666; font-size:10px;}
.msg_letterCont .details .details_title span{color:#666; font-size:10px; padding-left:10px;}
.msg_letterCont .details .details_content{padding:5px 10px 5px 10px; border-radius:10px; font-size:14px;}
.msg_letterCont .details .details_post_time{text-align:right;}
.msg_letterCont .details .details_post_time span{color:#666; font-size:10px; padding-right:10px;}
.msg_letterCont .details .details_post_time a{font-size:14px;}
.msg_letterCont .details .details_left{width:610px;margin-bottom:15px;}
.msg_letterCont .details .details_left .details_content{background-color:#f8f8f8; color:#080808; }
.msg_letterCont .details .details_right{margin-bottom:15px; padding-left:220px;}
.msg_letterCont .details .details_right .details_content{background-color:#66de68; color:#f5f5f5; }
/************   站内信 *****************/



/************  lrxiang 站内信弹窗修改 *****************/
#check_child_user{ color:#333; }
.send_msg_listUserCont{ width:200px; height:150px; overflow-x:hidden; overflow-y:scroll; }
.send_msg_listUserCont .send_msg_li{ width:100%; height:auto; overflow:hidden; padding-top:10px;}
.send_msg_listUserCont .send_msg_li li{  padding:0px 1%; border:1px solid #ddd; margin-right:2%; display:inline; float:left; height:30px; line-height:30px; margin-bottom:10px; float:left; text-align:left; }
.send_msg_listUserCont .send_msg_li li a{ cursor:pointer; color:#333; display:block; line-height: 25px; font-size:14px; }
.send_msg_listUserCont .send_msg_li li a i.fa{ width:25px; height:25px; background:url(../../images/lele/game/qq.png) no-repeat center; display:block; float:left; padding:0px 10px; line-height:25px; }
.send_msg_listUserCont .send_msg_li li.curr a{ color:#fff; }
.check_send_gids { width:400px; height:auto; overflow:hidden; }
.check_send_gids a.u_name{ width:auto; padding:0px 8px; height:20px; line-height:20px; margin:5px 10px 5px 0px; float:left; border:1px solid #ddd; }
.check_send_gids a{ float:left; color:#333; }
.aui_inner .send_msg_listUserCont{width:360px; overflow-y:auto;}
.aui_inner .send_msg_listUserCont .search_user_input{height:26px; line-height:26px;}
.aui_inner .send_msg_listUserCont .search_user_btnslrx{height:30px; line-height:30px;}
.aui_inner .send_msg_listUserCont .send_msg_li li{ background:#ddd; border-radius:3px;}
.aui_inner .send_msg_listUserCont .send_msg_li li.curr{border:1px solid #fb5210; background:#fb5210; color:#fff; }
/************  lrxiang 站内信弹窗修改 *****************/

/************  lrxiang 方案详情 *****************/
.user_cont .notice{padding:8px 10px;margin-bottom:10px; margin-top:10px; border:1px solid #F8E2B9;background-color:#FFFDEB;color:#FB911F;}
.user_cont .notice a{text-decoration:underline;}
.user_cont .notice p{line-height:30px;}
.user_cont .notice .close{float:right;width:15px;height:15px;background-position:-240px 0;cursor:pointer;}
.user_cont .notice .ico-warning{display:inline-block;width:16px;height:16px;margin-right:5px;vertical-align:middle;background-position:-210px -80px;}
.file_choice{display:none;}
.file_sub{display:none;}
.toggle.search_invest_tz1 tr td a:first-child{ color:#fb5210;  }
.toggle.search_invest_tz1 tr td a:first-child:hover{ text-decoration:underline; color:#fb5210;  }
/************  lrxiang 方案详情 *****************/

/*福彩3d、排列3、5修改*/
.g_Time_Section .c_time.fc3d_openTime{width:400px;}
.g_Time_Section .c_open.fc3d_openNum{width:390px;}
.g_Time_Section .c_open.fc3d_openNum .op_date{width:100px;}
.g_Time_Section .c_open.fc3d_openNum .op_number{width:160px;}
.g_Time_Section .c_open.fc3d_openNum .op_number ul{width:160px;}
.g_Time_Section .c_time.fc3d_openTime .fl{width:180px;}
.g_Time_Section .c_time.fc3d_openTime .fr{width:210px;}

.g_Time_Section .c_time.pl5_openTime .fl p{width:95px;}
.g_Time_Section .c_time.pl5_openTime{width:400px;}
.g_Time_Section .c_open.pl5_openNum{width:438px;}
.g_Time_Section .c_open.pl5_openNum .op_date{width:100px;}
.g_Time_Section .c_open.pl5_openNum .op_number{width:248px;}
.g_Time_Section .c_open.pl5_openNum .op_number ul{width:250px;}
.g_Time_Section .c_time.pl5_openTime{width:360px;}
.g_Time_Section .c_time.pl5_openTime .fl{width:146px;}
.g_Time_Section .c_time.pl5_openTime .fr{width:210px;}

.invest .ty_table2 td{word-break:keep-all;/* 不换行 */white-space:nowrap;/* 不换行 */overflow:hidden; /* 内容超出宽度时隐藏超出部分的内容 */}
#cd_table{width:500px;  color:#666; font-size:14px;}
#cd_table tr th{font-weight:normal;}
#cd_table tr td{color:#f00; }
#cd_table tr th,#cd_table tr td{ height:30px; line-height:30px; padding:3px 5px;}

#loading{ /*background:rgba(0,0,0,0.4);*/ width:100%; height:100%; position: fixed; top:0px; left:0px; z-index: 1000; }
#loading .load_cont{position: fixed; top:50%; left:50%; margin-left:-25px; margin-top:-10px;  padding:15px 10px; background:#fff; border-radius:3px; width:50px;  margin-top:-25px; box-shadow: 0px 0px 20px #fff;}
#loading .load_cont p{font-size:14px; color:#666; padding-bottom:10px; text-align: center;}
#btn_addLow{ background:#ddd; border:1px solid #ccc; border-radius:3px; padding:6px; color:#666; float:left;}
#transfer_choiceUser{width:460px;}
#transfer_choiceUser dl dt{ height:30px; line-height:30px; color:#666; padding-bottom:10px;}
#transfer_choiceUser dl dt input.ty_text{width:290px; margin-right:10px; }
#transfer_choiceUser dl dd.u_ts{padding-top:10px; padding-bottom:10px;}
#transfer_choiceUser dl dd.u_list{height:160px; border:1px solid #ddd; overflow-y:auto; padding:10px; box-shadow:2px 2px 2px #ccc inset;}
#transfer_choiceUser dl dd.u_list label{ margin-right:10px; color:#fb5210; }
#transfer_choiceUser dl dd.u_ch{padding-top:10px;}
#transfer_choiceUser dl dd.u_ch .fl label{margin-right:10px;}
#transfer_choiceUser .ts_text{color:#F46E00; font-size:14px;}
#transfer_choiceUser .ts_text .icofnont{ padding-right:10px;}
#child_user_infos .a_item{ border:1px solid #ccc; padding:3px; border-radius:3px; font-size:14px; color:#666; margin-right:10px; display:block; float:left; margin-bottom:10px;}
#child_user_infos .a_item .fa{font-size:14px; padding-left:5px;}



/*** 山东11选五 选八中五 ***/
.gn_main .gn_main_cont .gn_main_list .len_ball .li_ball .ball_cont  li{ margin-right: 5px; }
.gn_main .gn_main_cont .ball_section .li_ball.curr{ clear:both; }
.gn_main .gn_main_cont .ball_section .li_ball .ball_cont li.even{ margin-right: 5px;  }


/*** 快三二号通选 ***/
#sthtx_btn{background:#F6F6F6;border:1px solid #D2D2D2;border-radius:4px;font-size:36px;font-weight:900;padding:12px 20px 15px 20px;width:200px;display:inline;}
#sthtx_btn.curr{background:#ffba00;color:#fff;}
.sthdx_btn{width:88px;border:1px solid #D2D2D2;border-radius:4px;font-weight:900;padding:3px 10px 5px 10px;margin-right:5px;}
.sthdx_btn.curr{background:#ffba00 !important;color:#fff !important;}
.sthdx_btn_yl{width:88px;background:#FFFFFF;border:none;padding:3px 10px 5px 10px;margin-right:5px;color:#999;}
.sbth_btn{width:88px;background:#F6F6F6;border:1px solid #D2D2D2;border-radius:4px;font-size:36px !important;font-weight:900;padding:3px 10px 5px 10px !important;margin-right:5px;}
.sbth_btn.curr{background:#ffba00 !important;color:#fff !important;}
.sbth_btn_yl{width:88px;background:#FFFFFF;border:none;padding:3px 10px 5px 10px;margin-right:5px;color:#999;}
#slhtx_btn{background:#F6F6F6;border:1px solid #D2D2D2;border-radius:4px;font-size:36px;font-weight:900;padding:12px 20px 15px 20px;width:200px;display:inline;}
#slhtx_btn.curr{background:#ffba00;color:#fff;}
.ethfx_btn{width:65px;background:#F6F6F6 !important;border:1px solid #D2D2D2;border-radius:4px;font-size:36px;font-weight:900;padding:5px 10px 4px 10px;margin-right:5px;float:left;cursor:pointer;}
.ethfx_btn em{padding:0px 5px 0px 5px;}
.ethfx_btn.curr{background:#ffba00 !important;color:#fff !important;}

.ethdx_btn{width:65px;background:#F6F6F6 !important;border:1px solid #D2D2D2;border-radius:4px;font-size:36px;font-weight:900;padding:5px 10px 4px 10px;margin-right:5px;float:left;cursor:pointer;}
.ethdx_btn em{padding:0px 5px 0px 5px;}
.ethdx_btn.curr{background:#fb5210 !important;color:#fff !important;}
.ethfx_btn_yl,.ethdx_btn_yl{width: 65px;border-radius: 4px;padding: 5px 10px 4px 10px;margin-right: 5px;float: left;cursor: pointer;color: #999;}
.ethfx_btn_yl em,.ethdx_btn_yl em{padding:0px 5px 0px 5px;}
.ethdx_btn1{width:65px;background:#F6F6F6 !important;border:1px solid #D2D2D2;border-radius:4px;font-size:36px;font-weight:900;padding:5px 10px 4px 10px;margin-right:5px;float:left;cursor:pointer;}
.ethdx_btn1.curr{background:#fb5210 !important;color:#fff !important;}
.ebth_btn{width:88px;background:#F6F6F6;border:1px solid #D2D2D2;border-radius:4px;font-size:36px !important;font-weight:900;padding:3px 10px 5px 10px !important;margin-right:5px;}
.ebth_btn.curr{background:#fb5210 !important;color:#fff !important;}
.ebth_btn_yl{width:88px;background:#FFFFFF;border:none;padding:3px 10px 5px 10px;margin-right:5px;color:#999;}
.cygjzj_btn{width:88px;background:#F6F6F6;border:1px solid #D2D2D2;border-radius:4px;font-size:36px;font-weight:900;padding:3px 10px 5px 10px;margin-right:5px;}
.cygjzj_btn.curr{background:#ffba00!important;color:#fff!important;}
.cygjzj_btn_yl{width:88px;background:#FFFFFF;border:none;padding:3px 10px 5px 10px;margin-right:5px;color:#999;}

/*** 快三二号通选 ***/

/*** 北京快乐8 ***/
.kl8_tt{ float:left;width:120px;height:45px;line-height:45px;vertical-align:middle;text-align:center;background-color:#FFF;font-size:16px;font-weight:700;color:#EF8D00; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-left: 10px;}
.kl8_ball_cont .ball-number-k8{position:relative;display:inline-block;*display:inline;*zoom:1;width:120px;height:45px;vertical-align:middle;text-align:center;background-color:#FFF;font-size:24px;color:#888;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background: url("../images/ballsbutton.png") no-repeat;box-shadow:0 1px 2px rgba(0,0,0,0.1);line-height: normal；} 

.pk10_tt{ float:left;width:120px;height:45px;line-height:45px;vertical-align:middle;text-align:center;background-color:#FFF;font-size:16px;font-weight:700;color:#EF8D00; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-left: 10px;}

.ball-number-k8 strong , 
.ball-number-k8 span{ display:none; }

.ball-number-k8.up:hover,
.ball-number-k8.up.curr{
	background-position: 0px -47px; 
}
 
.ball-number-k8.updown{
	background-position: -122px 0px; 
}

.ball-number-k8.updown:hover, 
.ball-number-k8.updown.curr{
	background-position: -122px -47px; 
}
 
.ball-number-k8.down{
	background-position: -244px 0px; 
}

.ball-number-k8.down:hover,
.ball-number-k8.down.curr{
	background-position: -244px -47px; 
}

.ball-number-k8.ji{
	background-position: 0px -94px;
}
.ball-number-k8.ji:hover,
.ball-number-k8.ji.curr{
	background-position: 0px -141px; 
}
.ball-number-k8.huo{
	background-position: -122px -94px;
}
.ball-number-k8.huo:hover,
.ball-number-k8.huo.curr{
	background-position: -122px -141px; 
}
.ball-number-k8.ou{
	background-position: -244px -94px;
}
.ball-number-k8.ou:hover,
.ball-number-k8.ou.curr{
	background-position: -244px -141px; 
}
.ball-number-k8.dadan{
	background-position: 0px -188px;
}
.ball-number-k8.dadan:hover,
.ball-number-k8.dadan.curr{
	background-position: 0px -235px; 
}
.ball-number-k8.dashuang{
	background-position: -122px -188px;
}
.ball-number-k8.dashuang:hover,
.ball-number-k8.dashuang.curr{
	background-position: -122px -235px; 
}
.ball-number-k8.xiaodan{
	background-position: -244px -188px;
}
.ball-number-k8.xiaodan:hover,
.ball-number-k8.xiaodan.curr{
	background-position: -244px -235px; 
}

.ball-number-k8.xiaoshuang{
	background-position: -367px -188px;
}

.ball-number-k8.xiaoshuang:hover,
.ball-number-k8.xiaoshuang.curr{
	background-position: -367px -235px; 
} 

.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_cont li.even{ margin-right:12px; }
.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8{ margin-left:20px;  width:605px; padding-top:5px; }
.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8.bbt{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ddd; border-bottom: 1px solid #ddd; height: auto; overflow: hidden; }
.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_cont{ margin-left:10px; } 
.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_cont li{ height:45px; }
.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_cont li .ball_aid{ display:none; }
.gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_tit span{ display:none; }
/*** 北京快乐8 ***/

/** 幸运农场 **/ 
.gn_main .gn_main_cont .ball_section .li_ball.renxuantz .ball_cont li.even{ margin-right:10px; }
.gn_main .gn_main_cont .ball_section .li_ball.renxuantz{ margin-left:10px;  width:640px; padding-top:5px; }
.gn_main .gn_main_cont .ball_section .li_ball.renxuantz.bbt{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ddd; border-bottom: 1px solid #ddd; height: auto; overflow: hidden; } 
.gn_main .gn_main_cont .ball_section .li_ball.renxuantz .ball_control{ width:85px; padding-top:50px; }
.gn_main .gn_main_cont .xync.ball_section .li_ball .ball_cont li .ball_aid{ display:none; }
.gn_main .gn_main_cont .xync.ball_section .li_ball .ball_tit span{ display:none; } 
.gn_main .gn_main_cont .xync.ball_section .li_ball .ball_cont li{ height:45px; }
/** 幸运农场 **/

/** 投注号码详细提示 **/
.order_type .lottery-details-area{ display:none; position: absolute; width: 150px; overflow: hidden; height:auto; border: 1px solid #fb5210; z-index: 100; }
.order_type .lottery-details-area .num{height: 25px; line-height: 23px; background: #fb5210; color: #fff; padding-left: 10px; overflow: hidden;}
.order_type .lottery-details-area .num .multiple{float: left;width:auto;}
.order_type .lottery-details-area .num .close{float: right; margin-right: 5px; cursor: pointer;font-size:18px;}
.order_type .lottery-details-area .list{margin: 0px; padding: 10px; max-height: 70px;_height:70px;border: none; *zoom:1; word-wrap: break-word; overflow: auto; background: #fff;color:#333;}

/** 投注号码详细提示 **/

/** 会员中心 **/
.Wdate.ty_text{ height:20px; line-height:20px; overflow:hidden; width:120px; } 
.search_child_user_cont { width:90%; float:left;height:22px; line-height:22px; padding:7px 0px; margin-bottom:5px;clear:both; }
.search_child_user_cont .label_input { width:160px; height:auto; overflow:hidden;float:left; }
.search_child_user_cont .label_input input{ width:146px;padding:2px 5px; height:16px;line-height:16px;border:1px solid #ddd;  }
.search_child_user_cont .label_btn { width:60px;height:22px;padding:0px 10px;float:left; }   
.search_child_user_cont .label_btn a{ display:block; border-radius:3px; width:60px;height:22px;overflow:hidden; background-color:#fb5210; color:#fff; text-align:center;float:left; }
.search_child_user_cont .label_btn a:hover {  box-shadow: 2px 2px 2px #666;  background: #00b600;   }  
.aui_content .art_dialog .n_title{display:inline-block; width:50px; text-align:right;}
.aui_content .art_dialog .check_send_gids #check_child_user{display:inline-block; overflow:hidden; padding:0px 10px; height:25px; line-height:25px; border:1px solid #ddd; border-radius:3px;}

#childUserList { width:auto; max-width:600px; height:auto; overflow:hidden;float: left; }
#childUserList em{ border:1px solid #ddd; height:20px; padding:4px 10px; margin-bottom:5px; line-height:20px; border:1px solid #ddd; background:#f8f8f8; margin-right:10px; float:left;  overflow:hidden;}
#childUserList em i{ font-size:10px; width:auto; padding:0px 0px 0px 0px; margin-left:5px; cursor:pointer; overflow:hidden; }

#dialog_text{padding:20px 50px; line-height:24px; font-size:14px;}
#dialog_text .c_org{font-weight: bold;}
.choice_cound .fandian{ display:none; }
/** 会员中心 **/

.submitComfire{width:400px;}
.submitComfire ul li{ line-height:30px; font-size:14px; color:#666;}
.submitComfire ul li label{vertical-align: top;}
.submitComfire ul li .textarea{border:1px solid #ccc; padding:5px; border-radius: 2px 5px; display:inline-block; width:300px; height:120px; overflow:auto;}
.rui_cedan_btn{ width: 85px; height:28px; line-height: 28px; border: 0px; background: #fb5210; color: #fff; border-radius:2px; box-shadow:2px 2px 2px #ddd; }
.rui_cedan_btn:hover{ background: #0F740F;  }


/*福彩3D*/
#gameId_1201 .g_Time_Section .c_time{ width:360px;}
#gameId_1201 .g_Time_Section .c_time .fr{width:195px;}
#gameId_1201 .g_Time_Section .c_time .fr em{width:194px;}
#gameId_1201 .g_Time_Section .c_open{width:432px;}
#gameId_1201 .g_Time_Section #openNow{left:516px;}
#gameId_1201 .g_Time_Section #openNow img{width: 453px;height: 72px;}
#gameId_1201 .g_Time_Section .c_open .op_date{width:110px;}
#gameId_1201 .g_Time_Section .c_open .op_number{width:229px; float:left; overflow: hidden;}
#gameId_1201 .g_Time_Section .c_open .op_number #openNum_list{width:152px; float:left;}

/*排列3、5*/
#gameId_1202 .g_Time_Section .c_time .fr em{font-size:30px;}
/*#gameId_1202 .g_Time_Section .c_time{ width:360px;}
#gameId_1202 .g_Time_Section .c_time .fr{width:195px;}
#gameId_1202 .g_Time_Section .c_time .fr em{width:194px;}
#gameId_1202 .g_Time_Section .c_open{width:432px;}
#gameId_1202 .g_Time_Section .c_open .op_number{width:245px;}
#gameId_1202 .g_Time_Section .c_open .op_date{width:88px;}*/

/**** 我要充值的弹窗 ***/
.recharge_order_infos{ width:410px; height:auto; overflow:hidden; }
.recharge_order_infos .wd-title{ width:90%; margin:0px auto; height:25px; line-height:25px; clear:both; overflow:hidden; color: #F60; }
.recharge_order_infos .wd-control-panel{ width:100%; height:30px; line-height:30px; overflow:hidden; padding:5px 0px; text-align:center; }
.recharge_order_infos .btn { color: #FFF; border-color: #019679; box-shadow: none\9; background-color: #fb5210 ; padding:7px 29px; border:none; border-radius:3px; box-shadow:2px 2px 2px #ddd; }
.recharge_order_infos .btn:hover{ background:#0BA00B; }
.recharge_order_infos .wd-tip{ width:90%; margin:0px auto; height:25px; line-height:25px; clear:both; overflow:hidden; color: #bbb; }
 /**** 我要充值的弹窗 ***/
#notice{line-height:28px; background:#FDEDA0; overflow: hidden; position:fixed; bottom:-30px; width:100%; box-shadow: -4px -4px 5px #999;}
#notice a{ display: block; width:900px; float:left; font-size:14px; color:#fb5210;}
#notice a:hover{color:#f00; text-decoration: underline;}
#notice a .fa{color:#F06701;}
#notice .fa.close{float:right; cursor:pointer;}
#notice .fa.close:hover{color:#f00;} 



/*忘记密码*/
.forgetPaw .f_tit{width:100%; border-bottom:1px solid #f0f0f0; overflow: hidden; box-shadow:2px 2px 2px #ddd;}
.forgetPaw .f_tit ul li {width:249px;float:left;  font-size:16px; line-height:60px; color:#999; border-right:1px solid #f0f0f0;}
.forgetPaw .f_tit ul li.curr{color:#00b600; }
.forgetPaw .f_tit ul li i{ float: left;margin: 15px 30px 0 15px;width: 44px;height: 0;padding-top: 50px;background-image: url(../../images/lele/game/ui-safe.png);background-repeat: no-repeat;overflow: hidden;}
.forgetPaw .f_tit ul li i.step-num-1{background-position: -120px -240px;}
.forgetPaw .f_tit ul li i.step-num-2{background-position: -120px -300px;}
.forgetPaw .f_tit ul li i.step-num-3{background-position: -120px -360px;}
.forgetPaw .f_tit ul li i.step-num-4{background-position: -120px -420px;}
.forgetPaw .f_tit ul li.curr i.step-num-1{background-position: -120px 0px;}
.forgetPaw .f_tit ul li.curr i.step-num-2{background-position: -120px -60px;}
.forgetPaw .f_tit ul li.curr i.step-num-3{background-position: -120px -120px;}
.forgetPaw .f_tit ul li.curr i.step-num-4{background-position: -120px -180px;}
.forgetPaw .f_cont{padding:65px 0 150px; min-heihgt:240px;}
.forgetPaw .f_cont .table_code{width:700px; margin:0 auto; }
.forgetPaw .f_cont .table_code th{width:30%; font-size:14px;}
.forgetPaw .f_cont .table_code td{width:70%;}
.forgetPaw .f_cont .table_code td .ty_text{float:left; margin-right:10px; width:260px; height:30px; line-height:30px;}
.forgetPaw .f_cont .table_code td .ty_select{height:40px ; line-height:40px;}
.forgetPaw .f_cont .table_code td img{float:left;}
.forgetPaw .f_cont .table_code td .Validform_checktip{ font-size:14px; line-height:32px;}
.forgetPaw .f_cont .table_code td .ty_btn{height:40px; line-height:40px;}
.forgetPaw .u_safe .safe_list{ padding-top:20px;}
.forgetPaw .u_safe .safe_list ul { margin: auto; width:800px;}
.forgetPaw .u_safe .safe_list ul li{width:800px;}
.forgetPaw .u_safe .safe_top p{font-size:14px; padding-left:50px; color:#666;} 
.forgetPaw .u_safe .safe_top p .c_green{font-weight: bold;}
.forgetPaw .u_questionedit  .table_code th{width:20%;}
.forgetPaw .u_questionedit  .table_code td{width:80%;}
.forgetPaw .u_questionedit .u_success{width:400px; margin:0 auto; overflow: hidden;}
.forgetPaw .u_questionedit .u_success .icon{float:left; padding-right:10px;}
.forgetPaw .u_questionedit .u_success .text{float:left; width:280px;}
.forgetPaw .u_safe .safe_list ul li .l_btn input{background: #eee;border: 1px solid #ccc;display: block;width: 150px;height: 30px;line-height: 30px;border-radius: 4px;box-shadow: 2px 2px 2px #ccc;text-align: center;font-size: 16px;color: #666;margin-top: 5px;}
.forgetPaw .u_safe .safe_list ul li .l_btn input:hover{background:#fb5210; color:#fff;}
#btn_zjbd.curr{background:#999; color:#fff;}
#gameId_1302 .gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_cont li{margin-right:0px; padding-bottom:15px;}
#gameId_1302 .gn_main .gn_main_cont .ball_section .li_ball.up_kuaile8 .ball_cont{width:380px; margin-left:0px;}
.gn_main .gn_main_cont .ball_section .ball_sm{float:right; margin-right:20px; width:136px;}
.gn_main .gn_main_cont .ball_section .ball_table{ border-left:1px solid #ddd; border-top:1px solid #ddd; color:#333; width:140px;}
.gn_main .gn_main_cont .ball_section .ball_table thead td{height:30px; line-height:30px; padding:0 5px; background:#019271; color:#fff; text-align:center; border-right:1px solid #ddd;}
.gn_main .gn_main_cont .ball_section .ball_table tbody td{ height:30px; line-height:30px; background:#ddd; border-right:1px solid #ccc; text-align: center; border-bottom:1px solid #ccc;} 
.gn_main .gn_main_cont .ball_section .ball_h2{font-size:14px; padding-bottom:5px;}
#gameId_1303 .gn_main .gn_main_cont .ball_section.s_pk10 .li_ball .ball_cont li{margin:0px !important;}
#gameId_1303 .gn_main_list>ul{/*width:480px;*/ float:left;}
#gameId_1303 .total_result{color:red; padding:10px 0px}
#gameId_1303 #Play_BallArea_1303_1303I11 .gn_main_list>ul{width:100%; float:left;}
#login2.register{width:330px; margin-left:-165px;}
#login2.register .login_m{width:290px; padding:15px 25px;}
#login3.register{width:390px; margin-left:-150px;}
#login3.register .login_m{width:340px; padding:15px 25px;}
#login2.register .login_m .login_m_ad{display:none;}
#login2.register .login_t .l_question{display: none;}
#message_num{margin-left:18px; padding:0px 2px; text-shadow:1px 1px 1px #333;cursor: pointer;}
#myInfo{position:relative; }
#myInfo .messageShow{ background:#fff; padding:10px; position:absolute; right:-232px; top:40px; color:#333; width:260px; line-height:20px; border-radius: 2px; display:none; box-shadow:3px 3px 4px #d2d2d2; border:1px solid #ddd;}
#myInfo .messageShow dt{width:100%; overflow:hidden; border-bottom:1px dotted #ccc; padding-bottom:5px;}
#myInfo .messageShow dt small{font-weight: bold; color:#F06701; font-size:13px;}
#myInfo .messageShow dt p{width:100px; float:left;}
#myInfo .messageShow dt a{color:#333; float:right;}
#myInfo .messageShow .icon_t{position:absolute; left:35px; top:-6px;}
#myInfo .messageShow dd{ padding-top:5px;}
#myInfo .messageShow dd .mList a{color:#333; color:#F06701;}
#myInfo .messageShow dd .mList a:hover{text-decoration: underline;}
#notice2 a{ line-height:24px; color:#333;}
#notice2 a .fa{ color:#a74110}
#notice2 a:hover{color:#a74110;text-decoration: underline;}

/*活动直接代理*/
#activity8{background:#ffe4c5;}
#activity8 .a_tit{width:100%; background:url(../../images/lele/game/activity8_img1.jpg) center top no-repeat;  width:1600px; height:533px; margin:0 auto;  text-align: center;}
#activity8 .a_cont{width:1000px; margin:0 auto;}
#activity8 .a_cont .a_cont1{width:100%; overflow: hidden;}
#agent_get_div{width:450px; height:420px; background:url(../../images/lele/game/activity8_img2.jpg) center top no-repeat; text-align: center;}
/*#activity8 .a_cont .a_cont1 .fl{width:450px; height:420px; background:url(../images/game/activity8_img2.jpg) center top no-repeat; text-align: center;}*/
#activity8 .a_cont .a_cont1 .fl p{padding-top:54px; padding-bottom:160px; text-overflow: ellipsis; word-break: break-all;}
#activity8 .a_cont .a_cont1 .fl p strong{ font-size:95px; color:#f72c2f; font-weight:bold;}
#activity8 .a_cont .a_cont1 .fl p span{ font-size:24px; color:#f72c2f;}
#activity8 .a_cont .a_cont1 .fl .btn{ background:#999; padding:5px 30px; color:#fff; font-size:30px; text-shadow:1px 1px 1px #333; text-align:center; border-radius:5px;}
#activity8 .a_cont .a_cont1 .fl .btn.curr{ background:#fcc20f;text-shadow:1px 1px 1px #e6610d;}
#activity8 .a_cont .a_cont1 .fr{width:550px; color:#fff;}
#activity8 .a_cont .a_cont1 .fr table{border-left:1px solid #f6403f; border-top:1px solid #f6403f; text-align:center;}
#activity8 .a_cont .a_cont1 .fr table tr th{ background:#f6403f; border-right:1px solid #0099a3; height:38px; line-height:38px; font-size:16px; font-weight:normal;}
#activity8 .a_cont .a_cont1 .fr table tr td{background:#19789b; border-bottom:1px solid #0099a3; border-right:1px solid #0099a3; height:34px; line-height:34px;}
#activity8 .a_cont .a_cont1 .fr table tr:hover td{background:#1e8eb7;}
#activity8 .a_cont .a_cont2{width:96%; overflow: hidden; padding-top:40px; background:#fff2e4; padding:2%;}
#activity8 .a_cont .a_cont2 dl{width:40%; padding-right:5%; overflow:hidden; padding-bottom:50px;}
#activity8 .a_cont .a_cont2 dl dt{ font-size:18px; color:#d5231f; padding-bottom:10px;}
#activity8 .a_cont .a_cont2 dl dd p{ line-height:30px; font-size:14px; color:#333; font-size:14px;}

.with_buy_container .With_Buy_content .content_infos .hm_floor{width:100%; overflow: hidden;}
.with_buy_container .With_Buy_content .content_infos .hm_floor .hm_floor_l{float:left; width:30%; overflow: hidden;}
.with_buy_container .With_Buy_content .content_infos .hm_floor .hm_floor_l .label_input{width:160px;}
.with_buy_container .With_Buy_content .content_infos .hm_floor .hm_floor_r{float:right; width:64%; overflow: auto; margin-right:10px; }
.aui_dialog .aui_main{text-align:left;}

#fixedCountDown{background:#FFBA00; width:auto; padding:5px; border-radius: 5px; position:fixed; overflow: hidden; color:#fff; top:0px; right:78px;   z-index: 102; display:none;}
#fixedCountDown .c_left{width:80px; float:left; padding-right:10px;}
#fixedCountDown .c_left .text{font-size:12px;}
#fixedCountDown .c_left .ctime{font-size:26px;}
#fixedCountDown .c_right{width:18px; float: right;text-align: center; line-height:50px; background:#f3b100; cursor:pointer;}
#fixedCountDown .c_right .fa{transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s; }
#fixedCountDown .c_right:hover .fa{transform:rotate(180deg);}

#gameId_1201 #fixedCountDown .c_left,#gameId_1202 #fixedCountDown .c_left{width:100px;}
#gameId_1302 .g_Time_Section .c_time{width:235px; padding:10px 5px; }
#gameId_1302 .g_Time_Section .c_time .fl{width:91px;}
#gameId_1302 .g_Time_Section .c_time .fl p{ width:100%; }
#gameId_1302 .g_Time_Section .c_open{width:570px}
#gameId_1302 .g_Time_Section .c_open .op_link{width:80px;}
#gameId_1302 .g_Time_Section #openNow{left:378px;}
#gameId_1302 .g_Time_Section #openNow img{width: 590px;}
#kl8_info{float:left;color:#fff; line-height:24px;}
#kl3_info{float:left;color:#fff; line-height:24px;}
#gameId_1301 .g_Time_Section .c_open .op_date{width:125px;}
#gameId_1301 .g_Time_Section .c_open .op_number{width:270px; float:left; overflow: hidden;}
#gameId_1301 .g_Time_Section .c_open .op_number #openNum_list{width:152px; float:left;}


.aui_content{ max-width:500px; height:auto; word-break:break-all; line-height:25px; max-height:430px; overflow:auto; }
.ui-list-bc{
  margin: 10px;
}
.ui-list-bc >ul >li{
  width: 150px;
  float: left;
  margin-right: 10px;
   
}
 .ht15 {
    height: 15px;
}
  .ht50 {
    height: 50px;
}
  .ht100 {
    height: 100px;
}
 
.ui-list-bc .i .p p{
  text-align: center;
  color: #333333;
  line-height: 1em;
  margin-top:10px;
}
.ui-list-bc .i .p p b{
  color: #223853;
  font-size: 24px;
  font-weight: normal;
}
.ui-list-bc .i .p p em{
  color: #e44641;
  font-style: normal;
}
#Live_Transfer .ui-list-bc .i{
  border: 1px solid #d1d1d1;
  background-color: #f0f0f0;
  padding: 5px 10px;
  height: 100px;
  margin-bottom:10px;
}
main {
    position: relative;
}
.container {
    width: 1200px;
    padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.background-f {
    background: url(../../images/lele/game/bg-live.jpg) no-repeat 50% 0;
}
.background-h {
    background: url(../../images/lele/game/bg-egame.jpg) no-repeat 50% 0;
}
.background-i {
    background: url(../../images/lele/game/bg-sport.jpg) no-repeat 50% 0;
}
 .pull-right {
    float: right !important;
}

.ui-listboxb ul li {
    float: left;
    margin: 5px;
}

.ui-listboxb .i {
    width: 318px;
    border-radius: 2px;
}

.ui-listboxb .i .img {
  width: 318px; 
  height: 370px;
  line-height: 370px;
  text-align: center;
  position: relative;  
}

.ui-listboxb .i .txt{
  padding: 0 35px;
  background-color:#FFF;
   height: 50px;
   line-height:50px;
   border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
 

.ui-listboxb .i .txt span{
  text-align: center;
  color: deepskyblue;
  font-size: 18px;
  font-weight: bold;
}

 .ui-listboxb .i a{
 border: none;
    padding: 0 10px;
    display: inline-block;
    background-color: #d0b355; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
}

 .ui-listboxb .shadow {
    width: 318px; 
    height: 310px;
    line-height: 320px; 
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    zoom: 1;
    border-radius: 20px 20px 0 0;
    display: none;
}

.ui-listboxb  .img:hover >.shadow{
    display: block;
}

.ui-listboxc ul li {
    float: left;
    margin: 10px;
}
.ui-listboxc .i {
    width: 376px; 
}
.ui-listboxc .i .img {
  width: 376px; 
  height: 385px;
  line-height: 370px;
  text-align: center;
  position: relative;  
}
.ui-listboxc .i .txt{
  padding: 0 35px; 
   height: 50px;
   line-height:50px;
   
}
 .ui-listboxc .i .txt span{
  text-align: center;
  color: deepskyblue;
  font-size: 18px;
  font-weight: bold;
}
 .ui-listboxc .i a{
 border: none;
    padding: 0 10px;
    display: inline-block;
    background-color: #d0b355; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
}
.ui-listboxc .shadow {
    width: 376px; 
    height: 340px;
    line-height: 320px; 
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    zoom: 1;
    border-radius: 30px 30px 0 0;
    display: none;
}
.ui-listboxc .img:hover >.shadow{
    display: block;
}
.fresh:hover {
    cursor:pointer;
}
 .balance{ 
    width: 1000px; 
    height: 90px;  
    background-image: url(../../images/lele/game/live/balance-bg.png);
          
}

 .balance span{  
    line-height: 90px;   
    font-weight:bold; 
}

 .balance ul li{
    float: left;  
}
 #zz{  
     width: 200px; 
     text-align:center; 
}
#zz a{
     line-height: 90px;  
    color:#fff;
    font-size:28px;
    font-weight:bold;
}
#selfbalance{  
    padding-left:35px;
    width: 375px;  
}
 #sbbalance{  
     width: 380px; 
     
}
.balance .title{   
    width: 200px; 
    font-size:20px;
    font-weight:bold;
    
    font-style:initial;
}
 .balance .money{
     padding-left:40px;      
     font-size:26px;
    font-weight:bold;
    font-style:oblique;
      color:#fff;
 }

/*** 代理 ****/
.component-card { height:136px;
    margin: 15px 0;
    border: 1px  dashed #ddd;
    color: #180800;
    font-size: 14px;
}
.component-fee-detail .fl {
    float: left;
    border-right: 1px dashed #ddd;
}
.component-fee-detail .fl, .component-fee-detail .fr {
    width: 49.9%;
}.component-card .component-card-content {
    overflow: hidden;
}.component-fee-detail p {
    padding: 0 40px;
    height: 68px;
    line-height: 68px;
    border-bottom: 1px dashed #ddd;
    color: #999;
    font-size: 14px;
}.component-fee-detail p:last-child {
    border: none;
}

.component-fee-detail p span { font-weight:600;
    float: right;
    margin-left: 10px;
    color:#fb5210;
    font-size: 18px;
}

/*** 提现充值 ****/
.ui-box{ margin-bottom:10px;}
.widget-overview {
    border-radius: 5px;
    background-color: #fff;
    padding: 12px;    box-shadow: 0 0 16px rgba(0,0,0,0.1);    border: 1px solid #eee;
}

.widget-overview>ul>li:first-of-type {
    border-left: none;
}
.widget-overview>ul>li {
    display: inline-block;
    height: 61px;
    text-align: center;
    min-width:210px;
    padding: 0 30px;
    border-left: 1px dotted #ccc;
}.widget-overview>ul>li>h5 {
    margin-top: 11px;
    font-size: 22px;
}
.widget-overview>ul>li>h5 a{    color: #bebebe; font-weight:normal;}

.widget-overview>ul>li>h6 { font-weight:normal;
    margin-top: 10px;
    font-size: 12px;
}
.tab_deposit, .tab_draw {width: 50%; height: 76px; cursor: pointer;}
.tab_deposit {background:url(../../images/lele/user/tab_deposit.png) no-repeat;float:left;width:441px}
.tab_deposit.on, .tab_deposit:hover {background-image: url(../../images/lele/user/tab_deposit_on.png)}
.tab_draw {background: url(../../images/lele/user/tab_draw.png) no-repeat;float:left;width:489px; }
.tab_draw.on, .tab_draw:hover {background-image: url(../../images/lele/user/tab_draw_on.png);}
.account_finance {/*width:1098px;8*/margin:0 auto;border:1px solid #09b5f5; padding:0 20px;}
.tab_bank{ height: 76px; width:180px; margin-left:15px;
  line-height:76px; text-align:center; }
  .tab_bank a{ color:#999;}
.tab_bank span {
    display: inline-block;
    height: 35px;
    line-height: 35px; padding:0 25px;
    border-radius: 5px;

    border: 1px solid #ddd;
    font-size: 14px;
}

.table_deposit_hover{
    background-image: url(../../images/lele/user/tab_deposit_on.png);
}
.table_draw_hover{
    background:url(../../images/lele/user/tab_deposit.png) no-repeat;float:left;width:490px;
}


.account_finance.b1 {border-color: #f6532c}
.account_finance .deposit_type {
    color: #333;
    cursor: pointer;
    padding: 0;
    margin: 20px 5px 0 0;
    width: 130px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border: 1px solid #dcdcdc; 
    border-radius: 3px;
    font-size: 14px;
}
.account_finance .deposit_type.on, .account_finance .deposit_type:hover {
    color: #09B5F5;    
    border: 1px solid #09B5F5;
}
.u_safe .accountMain dl {
    padding: 45px 0 20px 45px;
    overflow: hidden;
}.u_safe .accountMain .T {
    display: inline-block;
    color: #777;
    width: 90px;
    float: left;
}.u_safe .accountMain .T {
    line-height: 34px;
}.u_safe .accountMain .reviseBox {
    height: 32px;
    line-height: 32px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}
.u_safe .accountMain dt {
    font-size: 16px;
    color: #626262;
    margin-bottom: 35px;
}
.u_safe .accountMain dd {
    font-size: 14px;
    margin-bottom: 20px;
    min-height: 34px;
    height:auto;
}

.u_safe .accountMain .C {
    display: inline-block;
    color: #3e3e3e;
    line-height: 32px;
}.reviseBox2 {
    margin-right: 10px;
}
.reviseBox2 span {
    float: left;
    display: inline-block;
    width: 75px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #dcdcdc;
    background: linear-gradient(bottom,#f4f4f4,#fff);
}.userContent .accountMain .reviseBox b {
    display: inline-block;
    width: 160px;
    text-align: center;
}.txt {
    width: 145px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #ddd;
    padding-left: 4px;
    font-size: 12px;
    color: #aaa;
}
 .unit1{
     margin-top:30px;
 }

.color-0 {
    color: #000
}
.color-1 {
    color: #5b6281
}
.color-2 {
    color: #12b35e
}
.color-3 {
    color: #fc0e0e
}
.color-4 {
    color: #02964e
}
.color-5 {
    color: #CCC
}
.color-6 {
    color: #2a8fc2
}
.color-7 {
    color: #FFF
}
.color-8{
    color:#585f7d
}
.color-9{
    color:#1e212e
}
.color-10{
    color:#828ec6
}
.color-11{
    color:#e62f41
}
.color-12{
    color:#ffae1f
}
.widget-overview td.tabstyle{
    border: 1px solid #dddddd;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;"
}